#main-content{
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

#main-content{
    .imgLeftMid {
        width: 50%;
        max-width: 50%;
        float: left;
    }
}



#main-content{
    .imgLeftSmall {
        width: 30%;
        max-width: 30%;
        float: left;
    }
}

#main-content{
    .imgCenterMid {
        width: 70%;
        
    }
}

#main-content{
    .imgCenterSmall {
        width: 50%;
        
    }
}

#main-content{
    .imgRightMid {
        width: 50%;
        max-width: 50%;
        float: right;
    }
}


#main-content{
    .imgRightSmall {
        width: 30%;
        max-width: 30%;
        float: right;
    }
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden; // NECESSARY for panes
}

html::-webkit-scrollbar { width: 0 !important }

/* Right to Left Language support */
[dir="rtl"] {
    direction: rtl;

    br {
    	display: none;
    }
}

#wpstats{
    display: none;
}