/* ---------------------------------------------------------------------
 Bdcpy

 Body Copy styles
------------------------------------------------------------------------ */
.bdcpy {
    font-family: $FONT_SANS;
    font-weight: 400; // TODO: REMOVE ONCE Web Fonts are in place
    font-size: 14px;
    line-height: 1.666666667;
    color: $CLR_GRAY;
}

.bdcpy_lg {
    font-size: 21px;
    line-height: 1.714285714;
}

.bdcpy_sm {
    font-size: 12px;
    line-height: 1.666667;
}

.bdcpy_narrative {
    font-size: 17px;
}

.mix-bdcpy_light {
    color: $CLR_GRAY_LIGHT;
}

.mix-bdcpy_white {
    color: $CLR_WHITE;
}

// One-off mixin used in heading narrative-section
.mix-bdcpy_mobileOnly {
    color: $CLR_WHITE;
}

@include breakpoint(MD) {
    .bdcpy {
        font-size: 18px;
    }

    .bdcpy_lg {
        font-size: 28px;
    }

    .bdcpy_sm {
        font-size: 16px;
    }

    .bdcpy_narrative {
        font-size: 28px;
    }

    .mix-bdcpy_mobileOnly {
        color: $CLR_GRAY;
    }
}