/* ---------------------------------------------------------------------
 Bdcpy

 Body Copy styles
------------------------------------------------------------------------ */
.bdcpy {
    @include font(SANS);
    @include remify(font-size, 14px);
    line-height: 1.714285714;
    color: $CLR_GRAY;
}

.bdcpy_lg {
    @include remify(font-size, 21px);
    line-height: 1.714285714;
}

.bdcpy_sm {
    @include remify(font-size, 12px);
    line-height: 1.666667;
}

.bdcpy_narrative {
    font-size: 17px;
    line-height: 1.411764706;
}

.mix-bdcpy_splash {
    color: $CLR_WHITE;
}

.mix-bdcpy_light {
    color: $CLR_GRAY_LIGHT;
}

.mix-bdcpy_white {
    color: $CLR_WHITE;
}

// One-off mixin used in heading narrative-section
.mix-bdcpy_mobileOnly {
    color: $CLR_WHITE;
}

@include breakpoint(MD) {
    .bdcpy {
        @include remify(font-size, 18px);
        line-height: 1.666666667;
    }

    .bdcpy_lg {
        @include remify(font-size, 28px);
    }

    .bdcpy_sm {
        @include remify(font-size, 16px);
    }

    .bdcpy_narrative {
        font-size: 28px;
    }

    .mix-bdcpy_splash {
        color: $CLR_GRAY;
    }
}