/* ---------------------------------------------------------------------
 Bdcpy

 Body Copy styles
------------------------------------------------------------------------ */
.bdcpy {
    font-family: $FONT_SANS;
    font-weight: 400; // TODO: REMOVE ONCE Web Fonts are in place
    font-size: 18px;
    line-height: 1.875;
    color: $CLR_GRAY;
}

.bdcpy_lg {
    font-size: 28px;
    line-height: 1.714285714;
}

.bdcpy_sm {
    font-size: 16px;
    line-height: 1.666667;
}