/* ---------------------------------------------------------------------
 Hdg

 heading styles
------------------------------------------------------------------------ */
.hdg {
	font-family: $FONT_SERIF;
    font-weight: 400; @warn 'REMOVE ONCE Web Fonts are in place';
	color: $CLR_BLACK;
}

.hdg_1 {
    @include remify(font-size, 29px);
    line-height: 1.2;
}

.hdg_2 {
    @include remify(font-size, 30px);
    line-height: 1.28;
}

.hdg_3 {
    @include remify(font-size, 20px);
    line-height: 1.2625;
}

.hdg_4 {
    @include remify(font-size, 16px);
    line-height: 1.4565384;
}

.hdg_5 {
    @include remify(font-size, 13px);
    line-height: 1.3636363;
}

.hdg_6 {
    @include remify(font-size, 16px);
    line-height: 1.5;
}

.hdg_7 {
    @include remify(font-size, 13px);
    line-height: 1.2;
}

.hdg_8 {
    @include remify(font-size, 27px);
    line-height: 1.25;
}

.hdg_subHdg {
	font-family: $FONT_SANS;
	@include remify(font-size, 17px);
	line-height: 1.4285714;
}

.hdg_heavy {
    color: $CLR_ACCENT;
    font-family: $FONT_SANS_BLACK;
    font-weight: bolder; @warn 'REMOVE ONCE Web Fonts are in place';
    @include remify(font-size, 13px);
    line-height: 1.222222;
    text-transform: uppercase;
}

/* Heading Mixins */
.mix-hdg_white 	{ color: white; }
.mix-hdg_gray 	{ color: $CLR_GRAY; }
.mix-hdg_italic { font-style: italic; }
.mix-hdg_bold   { font-weight: 500; }
.mix-hdg_splash { color: $CLR_WHITE; }

/* Theme Mixins */
.mix-hdg_themeImpact { color: $CLR_IMPACT; }
.mix-hdg_themeApproach { color: $CLR_APPROACH; }
.mix-hdg_themeMission { color: $CLR_MISSION; }

// One-off mixin used in heading narrative-section
.mix-hdg_mobileOnly {
    color: $CLR_WHITE;
}

@include breakpoint(MD) {
    .hdg_1 {
        @include remify(font-size, 64px);
        line-height: 1.28;
    }

    .hdg_2 {
        @include remify(font-size, 48px);
    }

    .hdg_3 {
        @include remify(font-size, 32px);
    }

    .hdg_4 {
        @include remify(font-size, 26px);
    }

    .hdg_5 {
        @include remify(font-size, 22px);
    }

    .hdg_6 {
        @include remify(font-size, 20px);
    }

    .hdg_7 {
        @include remify(font-size, 18px);
    }

    .hdg_8 {
        @include remify(font-size, 40px);
    }

    .hdg_subHdg {
        @include remify(font-size, 28px);
    }

    .mix-hdg_splash {
        color: $CLR_BLACK;
    }
}