/* ---------------------------------------------------------------------
 Hdg

 heading styles
------------------------------------------------------------------------ */

.hdg {
	font-family: $FONT_SERIF;
    font-weight: 400; // TODO: REMOVE ONCE Web Fonts are in place
	color: $CLR_BLACK;
}

.hdg_1 {
    font-size: 64px;
    line-height: 1.28;
}

.hdg_2 {
    font-size: 32px;
    line-height: 1.5625;
}

.hdg_3 {
    font-size: 26px;
    line-height: 1.4565384;
}

.hdg_4 {
    font-size: 22px;
    line-height: 1.3636363;
}

.hdg_5 {
    font-size: 20px;
    line-height: 1.5;
}

.hdg_subHdg {
	font-family: $FONT_SANS;
	font-size: 28px;
	line-height: 1.4285714;
}

/* Heading Mixins */
.mix-hdg_white 	{ color: white; }
.mix-hdg_gray 	{ color: $CLR_GRAY; }
.mix-hdg_italic { font-style: italic; }