/* ---------------------------------------------------------------------
 Topic Block

 common content structure useded throughout
------------------------------------------------------------------------ */
.topicBlock {
	text-align: center;

	// position: relative;
}

.viewWindow-panel-content-blogc .footBox .topicBlock {
	text-align: left;
}

.topicBlock > * {
	@include contain();
}

.viewWindow-panel-content-blog .topicBlock > *{

	width: 100%;
}

.viewWindow-panel-content-blogc .footBox .topicBlock > * {
	width: 95%;
}

.footBox > .topicBlock {
	margin-top: 0;
}

.topicBlock-media {
	@include unContain();
	margin-bottom: $SPACE_x2;
}

.topicBlock-hd {
	margin-bottom: $SPACE_x2;
}

.FeatureImg {
	width:auto !important; 
	max-width:120px !important; 
	max-height:120px !important; 
	float: left; 
	margin-right: 10px;
	margin-top: 5px 
}

.viewWindow-panel-content-blog .topicBlock-hd {
	padding-top:49px;
}

    .viewWindow-panel-content-blog .topicBlock-hd, .viewWindow-panel-content-blogc .footBox .topicBlock-hd, .HeroImage .topicBlock-hd {

        margin-bottom: 0;
    }

.topicBlock-hd:after {
	content: "";
	display: inline-block;
	height: 4px;
	width: 40px;
	position: relative;
	text-align: center;
	background-color: $CLR_ACCENT;
}


.viewWindow-panel-content-blogc .footBox .topicBlock-hd:after {
	display:none;
}

.theme-impact .topicBlock-hd:after,
.topicBlock-hd_themeImpact:after { background-color: $CLR_ACCENT; }

.theme-mission .topicBlock-hd:after,
.topicBlock-hd_themeMission:after { background-color: $CLR_ACCENT; }

.theme-approach .topicBlock-hd:after,
.topicBlock-hd_themeApproach:after { background-color: $CLR_ACCENT; }

.topicBlock-preHd {
	margin-bottom: $SPACE_x1;
}

.topicBlock-subHd {
	margin-bottom: $SPACE_x1;
}

.viewWindow-panel-content-blog .topicBlock-subHd {
    /*display: none;*/
    padding-top: 25px;
    margin-bottom: 13px;
}

.topicBlock-cta {
	margin-top: $SPACE_x4;
}

.viewWindow-panel-content-blogc .footBox .topicBlock-cta {
	margin-top: 10px;
	margin-bottom: $SPACE_x4;
}

.mix-topicBlock_push {
	padding-bottom: 40px;
}

.topicBlock-ft {
	border-top: 1px solid #d0cfc6;
	padding: $SPACE_x3;
	margin-top: $SPACE_x4;
}

#heroImage {

	 height: 224px;
}

@include breakpoint(MD) {
	.topicBlock-media {
		@include isVisuallyHidden();
	}

	.viewWindow-panel-content-blog .topic-padding {
	    padding-top: 160px;
	}


	#heroImage {
		 height: 322px;
	}
	.HeroImagePlay {
	    left:50%;
	    top: calc(222px / 2);
	    width:80px !important;
	}
}


@include breakpoint(LG) {
	#heroImage {
		 height: 460px;
	}
	.HeroImagePlay {
	    left:50%;
	    top: calc(360px / 2);
	    width:80px !important;
	}
}
