{{#extend "layout"}}

    {{#content "body" mode="append"}}


    <style type="text/css">
        .PATTERN-hdg {
            padding: 5px 0;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #555;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }
    </style>

    <div class="PATTERN-hdg" style="margin-top: 80px;">WP Jetpack's Contact Form styles</div>
    <div style="max-width: 640px; margin: 0 auto; padding-bottom: 60px; position: relative;"> <!-- WYSIWYG STYLES - Internal Template -->

        <div class="container">

        	<div class="vendorForm">

				<div id="contact-form-15">
					<form action="http://vip.local/contact/#contact-form-15" method="post" class="contact-form commentsblock">

						<div>
							<label class="grunion-field-label">I'm completing this form for:</label>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-imcompletingthisformfor" value="A business/corporation" class="radio"> A business/corporation
							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-imcompletingthisformfor" value="A nonprofit/organization" class="radio"> A nonprofit/organization
							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-imcompletingthisformfor" value="Myself or another individual" class="radio"> Myself or another individual
							</label>

							<div class="clear-form"></div>

						</div>

						<div>
							<label for="g15-name" class="grunion-field-label name">Name<span>(required)</span></label>
							<input type="text" name="g15-name" id="g15-name" placeholder="Your Name" value="" class="name" required="" aria-required="true">
						</div>

						<div>
							<label for="g15-email" class="grunion-field-label email">Email<span>(required)</span></label>
							<input type="email" name="g15-email" id="g15-email" placeholder="Your Email" value="" class="email" required="" aria-required="true">
						</div>

						<div>
							<label for="contact-form-comment-g15-comment" class="grunion-field-label textarea">Comment<span>(required)</span></label>
							<textarea name="g15-comment" id="contact-form-comment-g15-comment" placeholder="Your Message" rows="20" required="" aria-required="true"></textarea>
						</div>

						<div>
							<label class="grunion-field-label">I'm interested in:</label>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-iminterestedin" value="Getting news from Internet.org" class="radio"> Getting news from Internet.org
							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">

								<input type="radio" name="g15-iminterestedin" value="Recommending a Free Basic Service" class="radio"> Recommending a Free Basic Service

							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-iminterestedin" value="Supporting Internet.org projects" class="radio"> Supporting Internet.org projects
							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">
								<input type="radio" name="g15-iminterestedin" value="Using the Internet.org Innovation Lab" class="radio"> Using the Internet.org Innovation Lab
							</label>

							<div class="clear-form"></div>

							<label class="grunion-radio-label radio">
							<input type="radio" name="g15-iminterestedin" value="Other" class="radio"> Other</label>

							<div class="clear-form"></div>

						</div>

						<p class="contact-submit">
							<input type="submit" value="Submit" class="pushbutton-wide">
							<input type="hidden" id="_wpnonce" name="_wpnonce" value="5b231a6c40"><input type="hidden" name="_wp_http_referer" value="/contact/">
							<input type="hidden" name="contact-form-id" value="15">
							<input type="hidden" name="action" value="grunion-contact-form">
						</p>

					</form>
				</div>

			</div> <!-- END vendorForm -->

		</div>

	</div>

    {{/content}}

{{/extend}}
