img {
	width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden; // NECESSARY for panes
}

/* Right to Left Language support */
[dir="rtl"] {
    direction: rtl;

    br {
    	display: none;
    }
}

p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty {
  margin: 0;
}