/* ---------------------------------------------------------------------
 Auxiliary Link
------------------------------------------------------------------------ */

.auxLink {
    display: block;
    padding: 12px;
    font-family: $FONT_SANS_BLACK;
    font-weight: bolder; // TODO: REMOVE ONCE Web Fonts are in place
    @include remify(font-size, 10px);
    line-height: 1.6;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $CLR_BLACK;
}

@include breakpoint(MD) {
    .auxLink {
        padding: 19px;
        @include remify(font-size, 13px);
    }
}
