{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div class="viewWindow isShifted js-viewWindow js-stateDefault" data-route="/impact" data-type="panel" data-theme="Impact" data-title="Our Impact" data-image="/assets/media/uploads/impact_DT.jpg">
            <div class="viewWindow-panel">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner viewWindow-panel-content-inner_home">

                            {{>homepage-content}}

                    </div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_feature">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner" style="background-image: url(/assets/media/uploads/impact_DT.jpg);"></div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_story isActive">
                <div class="viewWindow-panel-content">

                    <div class="viewWindow-panel-content-inner">

                    <div class="introBlock">
                        <div class="introBlock-inner">

                            <div class="topicBlock">
                                <div class="topicBlock-hd topicBlock-hd_mega topicBlock-hd_themeImpact">
                                    <h2 class="hdg hdg_2 mix-hdg_bold">Our Impact</h2>
                                </div>
                                
                                <!-- START ADD MOBILE ONLY CONTENT HERE -->

                                <!-- Secondary (mobile) Feature Image -->
                                <div class="topicBlock-media isHidden u-isHiddenMedium">
                                    <img src="../assets/media/images/mainstory-img-8.jpg" alt="" />
                                </div>

                                <!-- Duplicate Content - Mobile Only -->
                                <div class="topicBlock-bd isHidden u-isHiddenMedium">
                                    <div class="hdg hdg_3">Internet Access Changes Lives</div>
                                    <p class="bdcpy">Paola lives with her husband and young son on an organic farm several hours from Bogota. They live sustainably off the land with very little income and are largely cut off from the outside world.</p>
                                </div>

                                <!-- END ADD MOBILE ONLY CONTENT HERE -->

                            </div>
                        </div>
                    </div>

                    {{>impact}}

                    </div>

                </div>
            </div>
        </div>

    {{/content}}

{{/extend}}
