/* ---------------------------------------------------------------------
Container

wrapper for constraining content to a max width
------------------------------------------------------------------------ */
.container {
    width: 84%;
    max-width: 700px;
    margin: 0 auto;
}