
/* ---------------------------------------------------------------------
 Border Blocks
------------------------------------------------------------------------ */
$borderBlocks-COLOR: rgba(109, 110, 100, 0.2);

.borderBlocks {
    font-size: 0; /* remove inline block whitespace */
}

.borderBlocks > * {
    box-sizing: border-box;
    display: inline-block;
    @include remify(font-size, 16px);  /* return the font size */
    border-top: 1px solid $borderBlocks-COLOR;
}

.borderBlocks_2up > * {
    width: 50%;
}

.borderBlocks_3up > * {
    width: 33.33333%; }

.borderBlocks_4up > * {
    width: 25%;
}

.borderBlocks_2up > :nth-child(2n),
.borderBlocks_3up > :nth-child(3n),
.borderBlocks_4up > :nth-child(4n) {
    border-left: 1px solid $borderBlocks-COLOR;
}
