/* ---------------------------------------------------------------------
Media

Feature content module
------------------------------------------------------------------------ */

.feature + .feature {
    padding: $SPACE_x5 0 0;
}

.feature > * + * {
    margin-top: $SPACE_x1;
}

.feature_tight {
    padding: $SPACE_x1 0;
}

.feature_tight > * + * {
    margin-top: $SPACE_x1;   
}

.feature-hd {
    // margin-bottom: 34px;
}

.feature-media {
    // margin-bottom: $SPACE_x2;
}

.feature-media > * {
    // max-width: 100%;
    width: 100%;
    height: auto;
}

.feature-media-caption > * {
    font-family: $FONT_SERIF_ITALIC;
    font-style: italic;  // TODO: REMOVE ONCE Web Fonts are in place
    font-size: 22px;
    line-height: 1.3636363;
    color: $CLR_GRAY;
    background-color: $CLR_GRAY_LIGHT;
    padding: $SPACE_x2;
}

.feature-cta {
    margin-top: 14px; // To compensate for the extra white space added
}

.feature-bd {}
    // sub heading, lists, etc..

.feature-ft {}
