/* ---------------------------------------------------------------------
 Foot Box

 styles for content areas at the end of stoires, campaigns, etc...
------------------------------------------------------------------------ */


.footBox {
	// max-width: 480px;
	padding: 80px 0;
    background-color: $CLR_GRAY_LIGHTER;
}

.footBox-hd {
    @include font(SERIF_ITALIC);
    @include remify(font-size, 22px);
    line-height: 1.363636;
    text-align: center;
    color: $CLR_GRAY;
    padding-bottom: 10px;
    border-bottom: 1px solid $CLR_GRAY_LIGHT;
    margin-bottom: $SPACE_x2;
}

.footBox-ft {
    margin-top: $SPACE_x4;   
}

.footBox {
  	padding: 28px 0;
}

@include breakpoint(MD) {
    .footBox {
        padding: 80px 0 $SPACE_x4;
    }
}