/* ---------------------------------------------------------------------
 Topic Block

 common content structure useded throughout
------------------------------------------------------------------------ */

.topicBlock {
	text-align: center;
	margin-top: $SPACE_x2;
	// position: relative;
}

.footBox > .topicBlock {
	margin-top: 0;
}

.topicBlock-hd {
	font-family: $FONT_SERIF;
	font-size: 40px;
	line-height: 1.145833;
	font-weight: 500;
}

.topicBlock-hd_plus {
	font-size: 48px;
}

.topicBlock-hd_mega {
	font-size: 58px;
	line-height: 0.85;
}

.topicBlock-hd:after {
	content: "";
	display: inline-block;
	height: 4px;
	width: 40px;
	position: relative;
	top: -15px;
	text-align: center;
	background-color: $CLR_ACCENT;
}

.theme-impact .topicBlock-hd:after,
.topicBlock-hd_themeImpact:after { background-color: $CLR_IMPACT; }

.theme-mission .topicBlock-hd:after,
.topicBlock-hd_themeMission:after { background-color: $CLR_MISSION; }

.theme-appraoch .topicBlock-hd:after,
.topicBlock-hd_themeApproach:after { background-color: $CLR_APPROACH; }

.topicBlock-subHd {
	font-family: $FONT_SERIF;
	font-style: italic;
	font-size: 22px;
	line-height: 1.363636;
	color: $CLR_GRAY;
	padding-top: 10px;
	margin-bottom: $SPACE_x1;
}

.topicBlock-bd {
	font-family: $FONT_SANS;
	font-size: 18px;
	line-height: 1.666667;
	color: $CLR_GRAY;
}

.topicBlock-cta {
	margin-top: $SPACE_x4;
}

.topicBlock-ft {
	border-top: 1px solid #d0cfc6;
	padding: $SPACE_x3;
	margin-top: $SPACE_x4;
}