{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div class="viewWindow isShifted js-viewWindow js-stateDefault" data-route="/contact" data-type="titled" data-title="Contact" data-desc="If you&CloseCurlyQuote;re working on a project related to connectivity or just want to keep up with Internet.org, let us know.">
            <div class="viewWindow-panel">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner viewWindow-panel-content-inner_home">

                            {{>homepage-content}}

                    </div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_feature isDouble">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner">
                        <div class="introBlock introBlock_fill">
                            <div class="introBlock-inner">
                                <div class="container">
                                    <div class="topicBlock">
                                        <div class="topicBlock-hd topicBlock-hd_plus">
                                            <h2 class="hdg hdg_2">Contact</h2>
                                        </div>
                                        <div class="topicBlock-bd">
                                            <p class="bdcpy">If you&CloseCurlyQuote;re working on a project related to connectivity or just want to keep up with Internet.org, let us know.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_story isActive">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner">

                    {{>contact-content}}

                    </div>

                </div>
            </div>
        </div>

    {{/content}}

{{/extend}}
