/* ---------------------------------------------------------------------
FB Follow Block

Unique area/layout containing copy and cta to follow on facebook
------------------------------------------------------------------------ */
.fbFollowBlock {}

.fbFollowBlock-bd {
	width: 50%;
	float: right;
	margin-bottom: $SPACE_x2;
}

.fbFollowBlock-cta {}