/* ---------------------------------------------------------------------
 Featured contnet

 Layout for featured content area
------------------------------------------------------------------------ */
.featureContent {
    position: absolute;
    bottom: 32px;
    right: 32px;
}


[dir="rtl"] {
    .featureContent {
        right: initial;
        left: 32px;
    }
}