/* ---------------------------------------------------------------------
Introduction Block

Sections of content that introduce landing and story pages
------------------------------------------------------------------------ */

.introBlock {
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 126px 0 45px;
    position: relative;
    background: url("../media/images/icons/io-mark-bg.svg") no-repeat $CLR_GRAY_LIGHTER;
    background-position: -225px top;
    background-size: 575px 795px;
}

.introBlock_foot {
    padding-top: 45px;
}

.introBlock_social {
    padding: 45px 0 150px;
}

.introBlock-inner {
    display: table-cell;
    vertical-align: middle;
}

@warn "needed?";

.introBlock-inner_narrow {
    padding: 0 150px;
}

.introBlock-ft {
    padding: $SPACE_x3 0;
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

.introBlock-ft_rule {
    border-top: 1px solid #d0cfc6;
}

@include breakpoint(MD) {
    .introBlock {
        height: 620px;
        padding-top: 45px;
        background-position: -725px top;
        background-size: 1450px 2035px;
    }
}

// NOTE: moved below to override media query
.introBlock_fill {
    height: 100vh;
    background-position: -300px top;
}
