/* ---------------------------------------------------------------------
Introduction Block

Sections of content that introduce landing and story pages
------------------------------------------------------------------------ */
.introBlock {
	display: table;
	box-sizing: border-box;
	width: 100%;
	min-height: 620px;
	padding: 45px 0;
	position: relative;
	background: url(../media/images/icons/io-mark-bg.svg) no-repeat $CLR_GRAY_LIGHTER;
	background-position: -725px top;
	background-size: 1450px 2035px;
}

.introBlock_social {
	padding: 45px 0 150px;
}

.introBlock_fill {
	height: 100vh;
	background-position: -300px top;
}

.introBlock-inner {
	display: table-cell;
	vertical-align: middle;
}

@warn 'needed?';
.introBlock-inner_narrow {
	padding: 0 150px;
}

.introBlock-ft {
	padding: $SPACE_x3 0;
	position: absolute;
	bottom: 0;
	left: 12.5%;
	width: 75%;
	text-align: center;
}

.introBlock-ft_rule {
	border-top: 1px solid #d0cfc6;
}