/* ---------------------------------------------------------------------
 Narrative
------------------------------------------------------------------------ */
@warn "for testing only";

.narrative {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.narrative-section {
    position: relative;
    height: 100%;
}

.narrative-section-slides {
    height: 100%;
    overflow: hidden;
}

.narrative-section-slides-item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("http://placekitten.com/g/800");
}

.narrative-section-slides-item-bd {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    padding: 24px;
    background-color: #efede5;
}

.narrative-section-bd {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 48%;
    padding: 24px;
    background-color: #efede5;
}

.narrative-progress {
    position: fixed;
    bottom: 24px;
    left: 24px;
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.narrative-progress > * {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.25s ease-out;
}

.narrative-progress > * + * {
    margin-top: 6px;
}

.narrative-progress > *.isActive:nth-child(2) { background-color: #9d25a0; }
.narrative-progress > *.isActive:nth-child(3) { background-color: #fa5cb6; }
.narrative-progress > *.isActive:nth-child(4) { background-color: #ff6b00; }

.narrative-progress_isHidden {
    opacity: 0;
}

@include breakpoint(MD) {
    .narrative-section-bd {
        width: 50%;
        height: 100%;
        padding: 24px;
        background-color: #efede5;
        box-sizing: border-box;
    }
}