/* ---------------------------------------------------------------------
 Quarantine

 Container for wrapping user-entered-content (WYSIWYG)
------------------------------------------------------------------------ */
.quarantine {

    > * + * {
        margin-top: 19px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font(SERIF);
        color: $CLR_BLACK;
        @include remify(font-size, 20px);
        line-height: 1.4565384;
        margin-top: 45px;
    }

    // p > a:before,
    // p > a:after {
    //     content: none !important;
    //     border: none !important;
    //     height: 0 !important;
    //     width: 0 !important;
    // }

    // p > a {
    //     font-size: inherit !important;
    //     text-transform: none !important;
    //     display: inline !important;
    //     padding: 0 !important;
    // }

    p {
        @include font(SANS);
        @include remify(font-size, 14px);
        line-height: 1.714285714;
        color: $CLR_GRAY;
    }


    a:not(.contentOnMedia-link, .link) {
        @include transition(all 0.3s ease-in-out); 
        @include font(SANS_BLACK);
        @include remify(font-size, 13px);
        display: inline-block;
        line-height: 1.222222;
        text-decoration: none;
        color: $CLR_ACCENT;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }    

    // a:not(.contentOnMedia-link) {
    //     @include transition(all 0.3s ease-in-out);
    //     @include font(SANS_BLACK);
    //     @include remify(font-size, 13px);
    //     line-height: 1.222222;
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     color: $CLR_ACCENT;
    //     position: relative;
    //     padding-right: 35px;
    //     display: inline-block;
    //     margin-top: 14px; /* To compensate for the extra white space added */
    // }

    // a:not(.contentOnMedia-link):after,
    // a:not(.contentOnMedia-link):before {
    //     @include transition(all 0.15s ease-in-out);
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     right: -8px;
    // }

    // a:not(.contentOnMedia-link):after {
    //     top: calc(50% - 5px);
    //     height: 10px;
    //     width: 10px;
    //     border-bottom: 1px solid $CLR_ACCENT;
    //     border-right: 1px solid $CLR_ACCENT;
    //     transform: rotate(-45deg);
    // }

    // a:not(.contentOnMedia-link):before {
    //     top: 50%;
    //     height: 1px;
    //     width: 30px;
    //     background-color: $CLR_ACCENT;
    // }

    // a:not(.contentOnMedia-link):hover,
    // a:not(.contentOnMedia-link):active {
    //     color: $CLR_ACCENT_ACTIVE;
    // }

    // a:not(.contentOnMedia-link):hover:after,
    // a:not(.contentOnMedia-link):hover:before {
    //     right: -10px;
    // }

    // a:not(.contentOnMedia-link):hover:after { border-color: $CLR_ACCENT_ACTIVE; }

    // a:not(.contentOnMedia-link):hover:before { background-color: $CLR_ACCENT_ACTIVE; }

    ul:not(.carousel-handle) > * + * {
        margin-top: 22px;
    }

    // THEME CLASSES by contectual selection
    .theme-impact ul:not(.carousel-handle) li:before { color: $CLR_IMPACT; }
    .theme-approach ul:not(.carousel-handle) li:before { color: $CLR_APPROACH; }
    .theme-mission ul:not(.carousel-handle) li:before { color: $CLR_MISSION; }

    ul:not(.carousel-handle) > li {
        @include font(SANS);
        line-height: 1.666667;
        color: $CLR_GRAY;
        position: relative;
        padding-left: $SPACE_x3;
    }

    ul:not(.carousel-handle) > li:before {
        content: '•';
        position: absolute;
        top: -8px;
        left: 8px;
        font-family: Arial, 'Arial', sans-serif;
        @include remify(font-size, 28px);
        color: $CLR_ACCENT;
    }

    blockquote {
        border-left: 4px solid $CLR_ACCENT;
        padding: $SPACE_x1 $SPACE_x2;
    }

    blockquote > *:first-child {
        @include font(SERIF_ITALIC);
        @include remify(font-size, 22px);
        line-height: 1.363636;
        color: $CLR_BLACK;
        margin-bottom: $SPACE_x1;
    }

    blockquote > cite:before {
        content: ' – ';
    }

    blockquote > cite {
        @include font(SANS);
        @include remify(font-size, 18px);
        line-height: 1;
        color: $CLR_GRAY;
    }

    img {
        margin-top: 30px;
    }

    img,
    figure > img {
        width: 100%;
        height: auto;
    }

    // caption { }

    figcaption {
        @include font(SERIF_ITALIC);
        @include remify(font-size, 14px);
        line-height: 1.3636363;
        color: $CLR_GRAY;
        background-color: $CLR_GRAY_LIGHT;
        padding: $SPACE_x1;
        margin-top: 0;
    }
}

/* THEME CLASSES for li bullets by contectual selection */
.theme-impact .quarantine ul:not(.carousel-handle) li:before { color: $CLR_IMPACT; }
.theme-approach .quarantine ul:not(.carousel-handle) li:before { color: $CLR_APPROACH; }
.theme-mission .quarantine ul:not(.carousel-handle) li:before { color: $CLR_MISSION; }

/* THEME CLASSES for blockquote bullets by contectual selection */
.theme-impact blockquote { border-left: 4px solid $CLR_IMPACT; }
.theme-approach blockquote { border-left: 4px solid $CLR_APPROACH; }
.theme-mission blockquote { border-left: 4px solid $CLR_MISSION; }

/* THEME CLASSES for a bullets by contectual selection */
/* IMPACT */
.theme-impact a { color: $CLR_IMPACT; }
.theme-impact a:after { border-color: $CLR_IMPACT; }
.theme-impact a:before { background-color: $CLR_IMPACT; }
.theme-impact a:hover { color: $CLR_IMPACT_ACTIVE; }
.theme-impact a:hover:after { border-color: $CLR_IMPACT_ACTIVE; }
.theme-impact a:hover:before { background-color: $CLR_IMPACT_ACTIVE; }
/* APPROACH */
.theme-approach a { color: $CLR_APPROACH; }
.theme-approach a:after { border-color: $CLR_APPROACH; }
.theme-approach a:before { background-color: $CLR_APPROACH; }
.theme-approach a:hover { color: $CLR_APPROACH_ACTIVE; }
.theme-approach a:hover:after { border-color: $CLR_APPROACH_ACTIVE; }
.theme-approach a:hover:before { background-color: $CLR_APPROACH_ACTIVE; }
/* MISSION */
.theme-mission a { color: $CLR_MISSION; }
.theme-mission a:after { border-color: $CLR_MISSION; }
.theme-mission a:before { background-color: $CLR_MISSION; }
.theme-mission a:hover { color: $CLR_MISSION_ACTIVE; }
.theme-mission a:hover:after { border-color: $CLR_MISSION_ACTIVE; }
.theme-mission a:hover:before { background-color: $CLR_MISSION_ACTIVE; }

@include breakpoint(MD) {

    .quarantine {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include remify(font-size, 32px);
            margin-top: 58px;
        }

        a:not(.contentOnMedia-link) {
            @include remify(font-size, 18px);
        }

        p {
            @include remify(font-size, 18px);
            line-height: 1.666666667;
        }

        figcaption {
            @include remify(font-size, 22px);
            padding: $SPACE_x2;
        }
    }
}

/* Right to Left Language support */
[dir="rtl"] {

    .quarantine {

        a {
            padding-right: initial;
            padding-left: 35px;
        }

        a:after,
        a:before {
            right: initial;
            left: -8px;
        }

        a:after {
            border: none;
            border-top: 1px solid;
            border-left: 1px solid;
        }

        a:hover:after,
        a:hover:before {
            left: -15px;
        }

        ul:not(.carousel-handle) > li  {
            padding-left: 0;
            padding-right: $SPACE_x3;
        }

        ul:not(.carousel-handle) > li:before {
            left: initial;
            right: 8px;
        }

        blockquote {
            border-left: none;
            border-right: 4px solid $CLR_ACCENT;
        }

    }

    /* THEME CLASSES for blockquote bullets by contectual selection */
    .theme-impact blockquote { border-right: 4px solid $CLR_IMPACT; }
    .theme-approach blockquote { border-right: 4px solid $CLR_APPROACH; }
    .theme-mission blockquote { border-right: 4px solid $CLR_MISSION; }

}





