/* ---------------------------------------------------------------------
Social Block

Unique area/layout for social media footer content
------------------------------------------------------------------------ */
.socialBlock {
    position: relative;
    display: table;
    width: 100%;
    min-height: 450px;
    background: url(../media/images/fb-follow-bg.jpg) no-repeat;
    background-position: 91% 100%;
    background-size: cover;
}

.socialBlock-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 45px 0;
}
