/* ---------------------------------------------------------------------
 Splash Footer

 Content structure used in last narrative section
------------------------------------------------------------------------ */
.splashFooter {
    @include contain();
}

.splashFooter-section {
    margin-bottom: 24px;
}

.splashFooter-section-hd {
    margin-bottom: 4px;
}

.splashFooter-section-bd {}

@include breakpoint(MD) {
    .splashFooter {
        padding-top: 58px;
        position: relative;
        @include unContain();
    }

    .splashFooter:before {
        content: "";
        display: inline-block;
        height: 4px;
        width: 40px;
        position: absolute;
        top: 32px;
        text-align: center;
        background-color: $CLR_ACCENT;
    }
}