/* ---------------------------------------------------------------------
 Transform Block

 Content structure used in narrative sections
------------------------------------------------------------------------ */
.transformBlock {
    position: relative;
}

.transformBlock-pre {
    height: 46px;
    margin-bottom: 6px;
    position: relative; // For pseudo positioning
}

.transformBlock-pre-item {
    position: absolute;
    opacity: 0;
}

.transformBlock-pre-item:nth-child(1) {
    opacity: 1;
}

.transformBlock-pre-item_divide:before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 40px;
    position: absolute;
    top: -32px;
    text-align: center;
    background-color: $CLR_ACCENT;
}

.transformBlock-post-item-bd {
    margin-bottom: 62px;
}

.transformBlock-stmnt {
    margin-bottom: 7px;
}

.transformBlock-post {
    position: relative;
}

.transformBlock-post-item {
    position: absolute;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.transformBlock-post-item-bd {
    margin-bottom: 62px;
}

.transformBlock-post-item:nth-child(1) {
    opacity: 1;
}

.transformBlock-post-item_isActive {
    z-index: 1;
    pointer-events: auto;
}