
// Opera Mini
// Note: order of operations is !important here
.opera-mini-only {
    display: none !important;
}

body.opera-fallback {

    .header-logo {
        z-index: 9999 !important;
    }

    .container {
        div[id^='contact-form-'] {
            margin-left: -10.6% !important;
            width: 100% !important;
            padding: 0 10.6% !important;
        }
        .form-error {
            position: relative !important;
            display: block !important;
        }
    }

    .loadingIcon,
    .show-more,
    .header-backBtn,
    .header-menuBtn  {
        display: none !important;
    }

    &.page-template-page-navigation {
        .menu-main-menu {
            display: block !important;
            opacity: 1 !important;
        }
    }

    .resultsList-ft {
        border: none !important;
        padding: 20px 0 0 !important;
    }

    .opera-mini-only {
        &,
        .resultsList-ft {
            display: block !important;
        }
    }

    .header-backBtn,
    .header-menuBtn {
        z-index: 99999 !important;
        position: absolute !important;
        top: 20px !important;
        right: 20px !important;
    }

    &.opera-mini {
        &,
        .viewWindow,
        .viewWindow-panel,
        .viewWindow-panel-content,
        .viewWindow-panel-content-inner,
        .narrative,
        .narrativeView,
        .narrative-section,
        .narrative-section-slides_short,
        .narrative-section-bd,
        .narrative-section-bd_low,
        .vendorForm .grunion-radio-label>.radio,
        .feature .grunion-radio-label>.radio,
        .menu-main-menu .topicLink,
        .vendorForm .grunion-field-label,
        .feature .grunion-field-label {
            position: relative !important;
            overflow: auto !important;
            height: auto !important;
            display: block !important;
            min-height: auto !important;
            clear: both !important;
        }

        .vendorForm .grunion-field-label,
        .feature .grunion-field-label  {
            height: auto !important;
            width: auto !important;
            clip: none !important;
            color: black !important;
            font-size: 13px !important;
        }
    }


    &.opera-10 {
        &,
        .viewWindow-panel,
        .viewWindow-panel-content,
        .viewWindow-panel-content-inner,
        .narrative,
        .narrativeView,
        .narrative-section,
        .narrative-section-slides_short,
        .narrative-section-bd,
        .narrative-section-bd_low,
        .vendorForm .grunion-radio-label>.radio,
        .feature .grunion-radio-label>.radio,
        .menu-main-menu .topicLink,
        .vendorForm .grunion-field-label,
        .feature .grunion-field-label {
            position: relative !important;
            overflow: auto !important;
            height: auto !important;
            display: block !important;
            min-height: auto !important;
            clear: both !important;
        }

        .vendorForm .grunion-field-label,
        .feature .grunion-field-label  {
            height: auto !important;
            width: auto !important;
            clip: none !important;
            color: black !important;
            font-size: 13px !important;
        }

        .viewWindow{
            width: 100% !important;
            .viewWindow-panel {
                width: 100% !important;
            }
            .viewWindow-panel-content{
                width: 100% !important;
                padding-right: 0px !important;
            }
        }
    }
    .vendorForm .grunion-radio-label,
    .feature .grunion-radio-label {
        .radio {
            width: auto !important;
            margin: 0 10px 0 0 !important;
            clip: none !important;
        }
        span {
            display: none !important;
        }
    }

    .arrowCta.arrowCta_light.js-narrativeAdvance {
        transform: none;
        background: url(../media/images/bg-arrow-down.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
        height: 17px;

        &:before,
        &:after {
            display: none;
        }
    }

    .circleBtn_themeMission {
        background: none;
        border: none !important;
        border-radius: none !important;
        transform: none !important;
        background-color: none !important;
        background: url(../media/images/bg-circle-purple.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
    }

    .circleBtn_themeImpact {
        background: none;
        border: none !important;
        border-radius: none !important;
        transform: none !important;
        background-color: none !important;
        background: url(../media/images/bg-circle-orange.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
    }


    .circleBtn_themeApproach {
        background: none;
        border: none !important;
        border-radius: none !important;
        transform: none !important;
        background-color: none !important;
        background: url(../media/images/bg-circle-pink.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }

	.narrative-section-bd {
		height: auto;
		overflow: hidden;
	}

	.narrative-section-bd-link {
        position: relative;
        right: 0;
        bottom: 0;
	}

    &.opera-mini {
        .viewWindow {
            width: 100%;
            .viewWindow-panel {
                width: 100%;
            }
        }
    }


	.narrative,
	.narrative-section:nth-of-type(1),
	.narrative-section-slides-item {
		height: 100% !important;
	}

	.narrative-section-slides-item {
		background-position: 50% 35%;
	}

	.narrative-section:nth-of-type(1) {
		height: 640px !important;
		position: relative;
		.narrative-section-slides,
		.narrative-section-slides-item {
			height: 100% !important;
			width: 100% !important;
			position: absolute !important;
		}
		.narrative-section-bd,
		.narrative-section-bd_low {
			position: absolute !important;
			bottom: 0;
		}
	}
	.narrative-section-slides-item {
		min-height: 300px !important;
	}
	.narrativeView-progress {
		display: none !important;
	}

	.loadingIcon {
		display: none !important;
	}

	.statementBlock-bd:last-of-type {
		position: relative;
	}

	.viewWindow.isShifted > .viewWindow-panel:last-child {
	    left: 0;
	}

	.introBlock.u-isHiddenMedium {
		display: none;
	}

	.viewWindow-panel_story .viewWindow-panel-content-inner {
		border-top: 0;
	}

	.viewWindow-panel_story .viewWindow-panel-content-inner > :first-child > .introBlock {
	  margin-top: 0;
	}

	.circleBtn::after, .circleBtn::before {
		display: none;
	}

	.circleBtn_play {
		background: url(../media/images/bg-circle-play.png) no-repeat scroll center center / auto 100%;
	}

	.circleBtn {
		margin: 20px;
	}

	.theme-approach .link::before, .theme-approach .link::after {
		display: none;
	}

	.link_preArrows::before, .link_preArrows::after {
		display: none;
	}

	.contentOnMedia-link_ct {
		margin-left: -60px;
		margin-top: -60px;
	}

	.link_twoArrows::before, .link_twoArrows::after {
		display: none;
	}

	.arrowCta::before, .arrowCta::after {
		display: none;
	}

	.arrowCta {
		background: url("../media/images/bg-arrow-down-black.png") no-repeat scroll center center / auto 100%;
		height: 17px;
		transform: none;
	}

	// hide arrows on main page for opera mini
	.narrative-section-bd-ft {
		display: none;
	}

	.link::before, .link::after {
		display: none;
	}

  .btn.js-ShowMoreView {
      display: none;
  }

  .viewWindow {
    &.navigation-opera-mini {
      min-height: 100% !important;
    }
  }
  .navigation-opera-mini {
    //padding-top: 120px;
    background: #f1efe7;

    .mainMenu-panel-primary {
      height: calc(100% - 244px);
      #menu-main-menu {
        margin-top: 45px;
        li {
          .topicLink-link{
            font-size: 25px;
          }
        }
      }
    }
    .mainMenu-panel-primary > * {
      min-height: 299px;
    }
    .mainMenu-panel-secondary {
      background:#f1efe7;
    }
  }
  .introBlock-ft{
    text-align: center;
    .opera-link {
        text-align: center;
        height: 17px;
        width: 32px;
        padding: initial !important;
        margin: 10px auto !important;
        display: inline-block;
        &.approach {
            background: url("../media/images/bg-arrow-right-pink.png") no-repeat;
        }
        &.impact {
            background: url("../media/images/bg-arrow-right-orange.png") no-repeat;
        }
        &.mission {
            background: url("../media/images/bg-arrow-right-purple.png") no-repeat;
        }
    }
  }

}

.pwdByVip-txt_front {
	bottom: 20px;
}

@media (max-height: 387px) {
  .pwdByVip-txt_front{
    bottom: 5px;
  }
}
// IE 10+

// Android 4.0+

// Opera 10



