//----------------------------------------------------------------------------
//Colors
//----------------------------------------------------------------------------

$CLR_ACCENT: #ffcc02; // yellow
$CLR_IMPACT: #ff6b00; // orange
$CLR_APPROACH: #fa5cb6; // magenta
$CLR_MISSION: #9d25a0; // purple

$CLR_BLACK: #000000;
$CLR_GRAY: #6d6e64;
$CLR_GRAY_LIGHT: #ebe8de;
$CLR_GRAY_LIGHTER: #efede4;

//----------------------------------------------------------------------------
//Layout
//----------------------------------------------------------------------------
$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;

//----------------------------------------------------------------------------
//Fonts
//----------------------------------------------------------------------------
@warn "!!!!!!Swap in Real Fonts!!!!!!";

$FONT_SANS: 'Basis Grotesque Pro', sans-serif; // BGP Regular
$FONT_SANS_BLACK: 'Basis Grotesque Pro', Impact, Charcoal, sans-serif; // BGP Black
$FONT_SERIF: 'Lava Pro', serif; // Lava Pro Medium
$FONT_SERIF_ITALIC: 'Lava Pro', serif; // Lava Pro Regular Italic
$BASE_FONT_SIZE: 12px;

//----------------------------------------------------------------------------
//Spacing Hierarchy
//----------------------------------------------------------------------------
$SPACE_DEFAULT: 9px;
$SPACE_x1: 16px;
$SPACE_x2: 32px;
$SPACE_x3: 37px;
$SPACE_x4: 45px;
$SPACE_x5: 75px;
