//----------------------------------------------------------------------------
// Z-Indexes
//
// Strategy: Each positioned item gets its own z-index variable. Variables may
//   and SHOULD share numeric values when possible to keep things in logical
//   layers. The idea is to see where anything z-indexed will stack in the
//   entire application. Prefix variable names with 'Z-' and module name.
//----------------------------------------------------------------------------

$Z-mainMenu_small: 99;
$Z-header: 100;
$Z-mainMenu_large: 101;
