/* ---------------------------------------------------------------------
Content Col

Layout for padded columns of content.
------------------------------------------------------------------------ */

.contentCol {
    @include clearfix();
    padding: 22px 0;
}

.contentCol_flush {
    padding-top: 0;
    // overflow: hidden;
    // margin-bottom: 40px;
}

.contentCol + .contentCol_flush,
.contentCol_flush + .contentCol {
    padding-top: 0;
}

.contentCol_divided {
    border-bottom: 1px solid #efede4;
}

.contentCol_flushTight {
    padding-bottom: 11px;
}

.contentCol_tight {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
}

.contentCol_tight.four-o-four, {
  	position: relative;
  	width: 100%;
}

@include breakpoint(MD) {
    .contentCol {
        padding: $SPACE_x5 0;
    }
    .contentCol_flush {
        padding: 0 0 $SPACE_x5 0;
    }
    .contentCol_flush + .contentCol {
        padding-top: 0;
    }
    .contentCol_flushTight {
        padding: 0 0 40px 0;
    }
    .contentCol_tight {
	  	padding: 45px 0;
    }

	.contentCol_tight.four-o-four, {
	  	position: absolute;
	}
}
