/* ---------------------------------------------------------------------
Container

wrapper for constraining content to a max width
------------------------------------------------------------------------ */
.container {
    width: 75%;
    margin: 0 auto;
    border: 1px solid red;
}