/* ---------------------------------------------------------------------
Content Col

Layout for padded columns of content.
------------------------------------------------------------------------ */

.contentCol {
	@include clearfix();
	padding: 22px 0;
}

.contentCol_flush {
	padding-top: 0;
	// overflow: hidden;
	// margin-bottom: 40px;
}

.contentCol + .contentCol_flush,
.contentCol_flush + .contentCol {
	padding-top: 0;
}

.contentCol_divided {
	border-bottom: 1px solid $CLR_GRAY_LIGHT;
}

.contentCol_flushTight {
	padding-bottom: 11px;
}

@include breakpoint(MD) {
	.contentCol {
		padding: 80px 0;
	}
	.contentCol_flush {
		padding: 0 0 80px 0;
	}
	.contentCol_flush + .contentCol {
		padding-top: 0;
	}
	.contentCol_flushTight {
		padding: 0 0 40px 0;
	}
	.contentCol_tight {
		padding: 40px 0;
	}

}
