/* ---------------------------------------------------------------------
 Stage
------------------------------------------------------------------------ */
.stage {
    width: 100vw;
    height: 100vh;
}

.stage-panel {
    width: 100vw;
    height: 100vh;
}
