/* ---------------------------------------------------------------------
 Stage
------------------------------------------------------------------------ */
@warn "replace viewport units with javascript calculated values";
.stage {
    width: 100vw;
    height: 100vh;
}

.stage-panel {
    height: 100%;
}
