/* ---------------------------------------------------------------------
View

Layout for paneled views
------------------------------------------------------------------------ */
.viewWindow {
    @include clearfix();
    width: 200%;
    height: 100%;
    position: relative;
}

.viewWindow-panel {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 0;
}

.viewWindow-panel-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.viewWindow-panel-content-inner {
    min-height: 100%;
    box-sizing: border-box;
}

.viewWindow-panel-content-inner_home {
    height: 100%;
}

.viewWindow.isShifted {
    left: -100%;
}

.viewWindow-panel_feature {
    display: none;
    overflow: hidden;
    z-index: -1;
}

.viewWindow-panel_feature .viewWindow-panel-content-inner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@include breakpoint(MD) {
    .viewWindow {
        width: 150%;
    }

    .viewWindow-panel {
        width: 33.333%;
    }

    .viewWindow-panel_feature {
        display: block;
    }

    .viewWindow.isShifted {
        left: -50%;
    }

    .viewWindow-panel:not(.isAnimating):first-child.isActive > .viewWindow-panel-content {
        width: 200%;
        padding-right: 100%;
    }

    .viewWindow-panel:not(.isAnimating):last-child.isActive > .viewWindow-panel-content {
        width: 200%;
        left: -100%;
        padding-left: 100%;
    }

    .viewWindow-panel.isAnimating {
        overflow: hidden;
    }

    .isAnimating .viewWindow-panel-content {
        overflow-y: hidden;
    }
}
