{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <div class="viewWindow isShifted js-stateDefault">
        <div class="viewWindow-panel">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner viewWindow-panel-content-inner_home">

                        {{>homepage-content}}

                </div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_feature">
            <div class="viewWindow-panel-content">
                <a href="https://vimeo.com/20949784" class="contentOnMedia-link contentOnMedia-link_ct js-videoModal">
                    <span class="circleBtn circleBtn_play"></span>
                </a>
                <div class="viewWindow-panel-content-inner" style="background-image: url(http://placehold.it/400x800?text=CAMPAIGN);"></div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_story isActive">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner">

                        {{>campaign-content}}

                </div>
            </div>
        </div>
    </div>

    {{/content}}

{{/extend}}
