{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div class="stage">
            <div class="stage-panel">
                <div class="narrative">
                    <div class="narrative-section">
                        <div class="narrative-section-bd">
                            <h2>HOME</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-bd">
                            <h2>Mission</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-bd">
                            <h2>Approach</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-bd">
                            <h2>Impact</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-bd">
                            <h2>CONTACT</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="/test" class="js-stateLink">asdfasdf</a>

    {{/content}}

{{/extend}}
