{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div class="stage">
            <div class="stage-panel">
                <div class="narrative js-narrativeView">
                    <div class="narrative-section">
                        <div class="narrative-section-slides">
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/home.jpg')"></div>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-slides">
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/mission.jpg')"></div>
                        </div>
                        <div class="narrative-section-bd">
                            <h2>Mission</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-slides">
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach.jpg')"></div>
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach_02.jpg')"></div>
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach_03.jpg')"></div>
                        </div>
                        <div class="narrative-section-bd">
                            <h2>Approach</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-slides">
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact.jpg')"></div>
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact_02.jpg')"></div>
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact_03.jpg')"></div>
                        </div>
                        <div class="narrative-section-bd">
                            <h2>Impact</h2>
                            <span>Connecting the world</span>
                            <p>Means conncecting the whole world, not just some of us</p>
                        </div>
                    </div>
                    <div class="narrative-section">
                        <div class="narrative-section-slides">
                            <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/contact.jpg')">
                                <div class="narrative-section-slides-item-bd">
                                    <ul>
                                        <li>contact</li>
                                        <li>contact</li>
                                        <li>contact</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="narrative-progress">
                        <li></li>
                        <li class="isActive"></li>
                        <li class="isActive"></li>
                        <li class="isActive"></li>
                        <li></li>
                    </ul>

                </div>
            </div>
        </div>

        <a href="/test" class="js-stateLink">asdfasdf</a>

    {{/content}}

{{/extend}}
