
{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div class="interactionPrompt">
            <a href="#" class="arrowCta arrowCta_light js-narrativeAdvance"></a>
        </div>

        <div class="viewWindow viewWindow_flush js-viewWindow" data-route="/" data-type="home">
            <div class="viewWindow-panel isActive">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner viewWindow-panel-content-inner_home">
                        {{>homepage-content}}
                    </div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_feature">
                <div class="viewWindow-panel-content">
                    <div class="viewWindow-panel-content-inner" style="background-image: url(/assets/media/uploads/home_DT.jpg);"></div>
                </div>
            </div>
            <div class="viewWindow-panel viewWindow-panel_story">
                <div class="viewWindow-panel-content">

                    <div class="viewWindow-panel-content-inner" style="background-color: #dddddd;">

                    </div>

                </div>
            </div>
        </div>

    {{/content}}

{{/extend}}
