{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div style="padding-top: 100px;">
            <div class="container">
                <div class="blocks blocks_3up">
                    <div>
                        <div class="vr vr_4x">
                            <div class="vr vr_2x">
                                <h2 class="hdg hdg_4">Modules &amp; Patterns</h2>
                            </div>
                            <ul class="vList">
                                <li><a class="link link_twoArrows link_twoArrows" href="patterns.html">patterns</a><li>
                                <li><a class="link link_twoArrows" href="home.html">home</a><li>
                                <li><a class="link link_twoArrows" href="view-example.html">view-example</a><li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="vr vr_2x">
                            <h2 class="hdg hdg_4">Live Pages</h2>
                        </div>
                        <ul class="vList">
                            <li><a class="link link_twoArrows" href="mission/">Mission</a><li>
                            <li><a class="link link_twoArrows" href="impact/">Impact</a><li>
                            <li><a class="link link_twoArrows" href="approach/">Approach</a><li>
                            <li><a class="link link_twoArrows" href="approach/tertiary/">Approach Tertiary</a></li>
                            <li><a class="link link_twoArrows" href="press/">Press</a><li>
                            <li><a class="link link_twoArrows" href="search/">Search</a><li>
                            <li><a class="link link_twoArrows" href="contact/">Contact</a><li>
                            <li><a class="link link_twoArrows" href="article/">article</a><li>
                            <li><a class="link link_twoArrows" href="substory/">substory</a><li>
                        </ul>
                    </div>
                    <div>
                        <div class="vr vr_2x">
                            <h2 class="hdg hdg_4">Page Content</h2>
                        </div>
                        <ul class="vList">
                            <li><a class="link link_twoArrows" href="pages/approach-tertiary.html">approach-tertiary</a></li>
                            <li><a class="link link_twoArrows" href="pages/approach.html">approach</a></li>
                            <li><a class="link link_twoArrows" href="pages/contact-content.html">contact-content</a></li>
                            <li><a class="link link_twoArrows" href="pages/example-content.html">example-content</a></li>
                            <li><a class="link link_twoArrows" href="pages/homepage-content.html">homepage-content</a></li>
                            <li><a class="link link_twoArrows" href="pages/impact.html">impact</a></li>
                            <li><a class="link link_twoArrows" href="pages/mission.html">mission</a></li>
                            <li><a class="link link_twoArrows" href="pages/not-found.html">not-found</a></li>
                            <li><a class="link link_twoArrows" href="pages/press-content-addl.html">press-content-addl</a></li>
                            <li><a class="link link_twoArrows" href="pages/press-content.html">press-content</a></li>
                            <li><a class="link link_twoArrows" href="pages/search-results.html">search-results</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {{/content}}

{{/extend}}
