{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="form.html">form</a></li>
            <li><a href="example.html">example</a></li>
            <li><a href="patterns.html">patterns</a></li>
            <li><a href="view-example.html">view-example</a></li>
        </ul>

    {{/content}}

{{/extend}}
