{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="form.html">form</a></li>
        </ul>

    {{/content}}

{{/extend}}
