{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <div style="padding-top: 100px;">
            <div class="container">
                <div class="vr vr_4x">
                    <div class="vr vr_2x">
                        <h2 class="hdg hdg_3">Live Pages</h2>
                    </div>
                    <ul class="vList">
                        <li><a href="mission/">Mission</a></li>
                        <li><a href="approach">Approach</a></li>
                        <li><a href="approach/tertiary/">Approach Tertiary</a></li>
                        <li><a href="impact/">Impact</a></li>
                        <li><a href="contact/">Contact</a></li>
                        <li><a href="search/">Search</a></li>
                    </ul>

                    <div class="vr vr_2x">
                        <h2 class="hdg hdg_3">Module Examples & Patterns</h2>
                    </div>
                    <ul class="vList">
                        <li><a href="article.html">article</a><li>
                        <li><a href="example.html">example</a><li>
                        <li><a href="form.html">form</a><li>
                        <li><a href="home.html">home</a><li>
                        <li><a href="landing-example.html">landing-example</a><li>
                        <li><a href="patterns.html">patterns</a><li>
                        <li><a href="press.html">press</a><li>
                        <li><a href="search.html">search</a><li>
                        <li><a href="substory.html">substory</a><li>
                        <li><a href="view-example.html">view-example</a><li>
                    </ul>
                </div>

                <div class="vr vr_2x">
                    <h2 class="hdg hdg_3">Pages</h2>
                </div>
                <ul class="vList">
                    <li><a href="pages/approach-tertiary.html">approach-tertiary</a></li>
                    <li><a href="pages/approach.html">approach</a></li>
                    <li><a href="pages/contact-content.html">contact-content</a></li>
                    <li><a href="pages/example-content.html">example-content</a></li>
                    <li><a href="pages/homepage-content.html">homepage-content</a></li>
                    <li><a href="pages/impact.html">impact</a></li>
                    <li><a href="pages/mission.html">mission</a></li>
                    <li><a href="pages/not-found.html">not-found</a></li>
                    <li><a href="pages/press-content-addl.html">press-content-addl</a></li>
                    <li><a href="pages/press-content.html">press-content</a></li>
                    <li><a href="pages/search-results.html">search-results</a></li>
                </ul>
            </div>
        </div>

    {{/content}}

{{/extend}}
