{{#extend "layout"}}

    {{#content "body" mode="append"}}

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">form</a></li>
        </ul>

    {{/content}}

{{/extend}}
