{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <style type="text/css">
        .PATTERN-hdg {
            padding: 5px 0;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #555;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }
    </style>

    <div class="PATTERN-hdg" style="margin-top: 80px;">Language Selection Module</div>
    <div style="max-width: 480px; margin: 20px auto 20px;"> <!-- Language Selection Module -->

        <div class="langSelect js-select isOpen">
            <div class="langSelect-label">English</div>
            <div class="langSelect-menu">
                <div class="langSelect-menu-item isSelected" tabindex="0"><span>English</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Bahasa</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Spanish</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>French</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Portuguese</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Arabic</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Hindi</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Urdu</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Bengali</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Russian</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Japanese</span></div>
                <div class="langSelect-menu-item" tabindex="0"><span>Punjabi</span></div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Gallery Carousel</div>
    <div style="max-width: 480px; margin: 20px auto 20px; overflow: hidden;"> <!-- Gallery Carousel -->

        <div id="js-carouselView1" class="carousel js-carouselView">
            <div class="handle carousel-handle">
                <div class="carousel-handle-slide">
                    <img src="//placehold.it/150x75" alt="placeholder" />
                </div>
                <div class="carousel-handle-slide">
                    <img src="//placehold.it/150x75" alt="placeholder" />
                </div>
                <div class="carousel-handle-slide">
                    <img src="//placehold.it/150x75" alt="placeholder" />
                </div>
                <div class="carousel-handle-slide">
                    <img src="//placehold.it/150x75" alt="placeholder" />
                </div>
                <div class="carousel-handle-slide">
                    <img src="//placehold.it/150x75" alt="placeholder" />
                </div>
            </div>
        </div>

    </div>

    <div class="PATTERN-hdg" style="margin-top: 80px;">Introduction Block to Next Story</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="introBlock">
                <div class="introBlock-inner">
                    <div class="container">
                        <div class="topicBlock">
                            <div class="topicBlock-preHd">
                                <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">Learn About</div>
                            </div>
                            <div class="topicBlock-hd topicBlock-hd_themeImpact">
                                <h2 class="hdg hdg_2">Next Chapter</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introBlock-ft">
                    <a href="" class="arrowCta"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg" style="margin-top: 80px;">Facebook Follow Block</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">

            <div class="socialBlock">
                <div class="socialBlock-inner">
                    <div class="container">
                        <div class="fbFollowBlock">
                            <div class="fbFollowBlock-bd">
                                <h2 class="hdg hdg_2 mix-hdg_white">Follow <br />the Project</h2>
                                <p class="bdcpy mix-bdcpy_light">Stay upsubHdd about Internet.org and lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="fbFollowBlock-cta">
                                <a href="" class="btn btn_facebook">Like us on Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="PATTERN-hdg">Introduction Block</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="introBlock">
                <div class="introBlock-inner">
                    <div class="container">
                        <div class="topicBlock">
                            <div class="topicBlock-hd topicBlock-hd_themeImpact">
                                <h2 class="hdg hdg_2">Campagin Page <br />Title on two Lines</h2>
                            </div>
                            <div class="topicBlock-bd">
                                <p class="bdcpy">Paola lives with her husband and young son on an organic farm several hours from Bogota. They live sustainably off the land with very little income and are largely cut off from the outside world.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Introduction Block w/ Social Parade</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="introBlock introBlock_social">
                <div class="introBlock-inner">
                    <div class="container">
                        <div class="topicBlock">
                            <div class="topicBlock-hd">
                                <h2 class="hdg hdg_2">Article Title on Max Three Lines on Mobile Ipsum</h2>
                            </div>
                            <div class="topicBlock-subHd">
                                <time class="hdg hdg_5 mix-hdg_italic mix-hdg_gray" datetime="2015-05-25">May 25, 2015</time>
                            </div>
                            <div class="topicBlock-bd">
                                <p class="bdcpy">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es
                                    suscipit euante lorepehicula nulla, suscipit dela  eu ante vel vehicula
                                    dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introBlock-ft introBlock-ft_rule">
                    <ul class="socialParade">
                        <li><a class="socialParade-icon socialParade-icon_fb" href="">Facebook</a></li>
                        <li><a class="socialParade-icon socialParade-icon_tw" href="">Twitter</a></li>
                        <li><a class="socialParade-icon socialParade-icon_li" href="">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Introduction Block Narrow</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="introBlock">
                <div class="introBlock-inner">
                    <div class="container">
                        <div class="topicBlock">
                            <div class="topicBlock-hd">
                                <h2 class="hdg hdg_2">Contact</h2>
                            </div>
                            <div class="topicBlock-bd">
                                <p class="bdcpy">If you’re working on a project related to connectivity or just want to keep up with Internet.org, let us know.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Results List - Press Blurbs w/ Media</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="container">
                <div class="resultsList">
                    <div class="resultsList-list">
                        <div class="resultsList-list-item">
                            <div class="media media_inline">
                                <div class="media-figure">
                                    <img src="//www.placehold.it/210x260" alt="" />
                                </div>
                                <div class="media-bd">
                                    <div class="feature feature_tight">
                                        <div class="feature-hd">
                                            <h2 class="hdg hdg_4">Internet.org: Myths and Facts</h2>
                                        </div>
                                        <div class="hdg hdg_7 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                        <div class="feature-bd">
                                            <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                        </div>
                                        <div class="feature-cta">
                                            <a href="" class="link mix-link_small">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resultsList-list-item">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_4">Announcing the Internet.org Now Available in Columbia</h2>
                                </div>
                                <div class="hdg hdg_7 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Today, we’re introducing the Internet.org Platform, an open program for developers to easily create services that integrate with...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link mix-link_small">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="resultsList-list-item">
                            <div class="media media_inline">
                                <div class="media-figure">
                                    <img src="//www.placehold.it/210x260" alt="" />
                                </div>
                                <div class="media-bd">
                                    <div class="feature feature_tight">
                                        <div class="feature-hd">
                                            <h2 class="hdg hdg_4">Internet.org: Myths and Facts</h2>
                                        </div>
                                        <div class="hdg hdg_7 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                        <div class="feature-bd">
                                            <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                        </div>
                                        <div class="feature-cta">
                                            <a href="" class="link mix-link_small">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Results List - Search Results</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="container">
                <div class="resultsList">
                    <div class="resultsList-hd">
                        <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">16 Results Found</div>
                    </div>
                    <div class="resultsList-list">
                        <div class="resultsList-list-item">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_4">Project Aquila This Title is Pretty Long and Goes on Two Lines</h2>
                                </div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link mix-link_small">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="resultsList-list-item">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_4">Project Acuila</h2>
                                </div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link mix-link_small">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="resultsList-list-item">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_4">Project Acuila</h2>
                                </div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link mix-link_small">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Foot Box w/ Two Arrow Links</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="footBox">
                <div class="topicBlock">
                    <div class="topicBlock-hd">
                        <h2 class="hdg hdg_2">Get Involved</h2>
                    </div>
                    <div class="topicBlock-bd">
                        <ul class="vList">
                            <li><a href="" class="link link_twoArrows">Develop for Internet.org Platform</a></li>
                            <li><a href="" class="link link_twoArrows">Visit the facebook page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Foot Box w/ Topic Blocks</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="footBox">
                <div class="footBox-hd">More Posts</div>
                <div class="vList vList_footBox">
                    <div>
                        <div class="topicBlock">
                            <div class="topicBlock-hd">
                                <h2>Max Three Lines Article Title on Mobile Ipsum</h2>
                            </div>
                            <div class="topicBlock-bd">Fast facts about Internet.org and free basic services lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                        </div>
                    </div>
                    <div>
                        <div class="topicBlock">
                            <div class="topicBlock-hd">
                                <h2>Max Three Lines Article Title on Mobile Ipsum</h2>
                            </div>
                            <div class="topicBlock-bd">Fast facts about Internet.org and free basic services lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                        </div>
                    </div>
                    <div>
                        <div class="topicBlock">
                            <div class="topicBlock-hd">
                                <h2>Article Title</h2>
                            </div>
                            <div class="topicBlock-bd">Example of very short copy.</div>
                            <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Feature w/ Services List</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="feature">
                <div class="feature-hd">
                    <h2 class="hdg hdg_2">Full List of Free Services</h2>
                </div>
                <div class="feature-bd">
                    <ul class="servicesList">
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-dictionary.png" alt="dictionary.com" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">Dictionary.com</div>
                                        <div class="bdcpy bdcpy_sm">Search for meaning of words</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-espn.png" alt="espn" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">ESPN</div>
                                        <div class="bdcpy bdcpy_sm">Get sports updates</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-bing.png" alt="bing" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">Bing Search</div>
                                        <div class="bdcpy bdcpy_sm">Find Information</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-babycentermama.png" alt="BayCenter and MAMA" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">BabyCenter &amp; MAMA</div>
                                        <div class="bdcpy bdcpy_sm">Learn about pregnancy amd childcare</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-accuweather.png" alt="Accueweather" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">AccuWeather</div>
                                        <div class="bdcpy bdcpy_sm">Get updated information about the weather</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="servicesList-item">
                                    <div class="servicesList-item-icon">
                                        <img src="assets/media/images/icons/png/icon-services-ask.png" alt="Ask.com" />
                                    </div>
                                    <div class="servicesList-item-bd">
                                        <div class="hdg hdg_4">Ask.com</div>
                                        <div class="bdcpy bdcpy_sm">Find Information</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Topic Block</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="topicBlock">
                <div class="topicBlock-hd topicBlock-hd_plus">
                    <h2>Article Title on Max Three Lines on Mobile Ipsum</h2>
                </div>
                <div class="topicBlock-subHd">May 25, 2015</div>
                <div class="topicBlock-bd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela  eu ante vel vehicula dolor sit amet, consectetur adipiscing elit.</div>
                <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                <div class="topicBlock-ft">
                    <ul class="socialParade">
                        <li><a class="socialParade-icon socialParade-icon_fb" href="">Facebook</a></li>
                        <li><a class="socialParade-icon socialParade-icon_tw" href="">Twitter</a></li>
                        <li><a class="socialParade-icon socialParade-icon_li" href="">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Content On Media - Bottom Right</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="contentOnMedia">
                <img class="contentOnMedia-media" src="//www.placehold.it/480x280" alt="" />
                <a href="" class="contentOnMedia-link contentOnMedia-link_br">
                    <span class="contentOnMedia-link-cta">Link on Image</span>
                    <span class="circleBtn"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Content on Media - Centered</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="contentOnMedia">
                <img class="contentOnMedia-media" src="//www.placehold.it/480x280" alt="" />
                <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                    <span class="circleBtn circleBtn_play"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Animated Arrow Call-To-Action</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto; text-align: center;">
            <div style="margin: 0 auto;" class="arrowCta"></div>
        </div>
    </div>

    <div class="PATTERN-hdg">Circle Button - Default and Play</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto; text-align: center;">
            <a href="" class="circleBtn circleBtn_themeImpact"></a>
            <a href="" class="circleBtn circleBtn_themeApproach"></a>
            <a href="" class="circleBtn circleBtn_themeMission"></a>
            <a href="" class="circleBtn circleBtn_play"></a>
        </div>
    </div>

    <div class="PATTERN-hdg">Button - Base, Themed and Facebook</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto; text-align: center;">
            <div class="vList">
                <div><a href="" class="btn">Default Button</a></div>
                <div><a href="" class="btn btn_themeImpact">Impact Button</a></div>
                <div><a href="" class="btn btn_themeApproach">Approach Button</a></div>
                <div><a href="" class="btn btn_themeMission">Mission Button</a></div>
                <div><a href="" class="btn btn_facebook">Facebook Button</a></div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Link - Base and Themed</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto; text-align: center;">
            <div class="vList">
                <div><a href="" class="link">Default Link</a></div>
                <div><a href="" class="link link_themeImpact">Impact Link</a></div>
                <div><a href="" class="link link_themeApproach">Approach Link</a></div>
                <div><a href="" class="link link_themeMission">Mission Link</a></div>
            </div>
        </div>
    </div>

    <div class="PATTERN-hdg">Typography - Headings and Body Copy Styles</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="vList">
                <div class="hdg hdg_1">Heading 1</div>
                <div class="hdg hdg_2">Heading 2</div>
                <div class="hdg hdg_3">Heading 3</div>
                <div class="hdg hdg_4">Heading 4</div>
                <div class="hdg hdg_5">Heading 5</div>
                <div class="hdg hdg_6">Heading 6</div>
                <div class="hdg hdg_7">Heading 7</div>
                <div class="hdg hdg_subHdg mix-hdg_gray">Sub-heading 1</div>
                <div>
                    <div class="hdg hdg_5">Body Copy</div>
                    <p class="bdcpy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="hdg hdg_5">Body Copy Small</div>
                    <p class="bdcpy bdcpy_sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="PATTERN-hdg">Stacked Feature modules w/ theme: Approach</div>
    <div class="vr vr_x2">
        <div style="max-width: 640px; margin: 0 auto;">
            <div class="theme-approach">
                <div class="feature"> <!-- TEXT -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Text Block</div>
                    </div>
                    <div class="feature-bd">
                        <p class="bdcpy">
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi. Integer ut felis purus. Etiam vehicula, ipsum non venenatis feugiat, lorem tellus euismod mi, eu bibendum ligula.
                        </p>
                    </div>
                </div>

                <div class="feature"> <!-- TEXT IMAGE -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Text Block with Image</div>
                    </div>
                    <div class="feature-bd">
                        <p class="bdcpy">
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                        </p>
                    </div>
                    <div class="feature-media">
                        <img src="//www.placehold.it/480x280" alt="FPO">
                    </div>
                </div>

                <div class="feature"> <!-- IMAGE TEXT QUOTE -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Image, Text and Quote</div>
                    </div>
                    <div class="feature-media">
                        <img src="//www.placehold.it/480x280" alt="FPO">
                    </div>
                    <div class="feature-bd">
                        <p class="bdcpy">
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                        </p>
                    </div>
                    <blockquote class="quote">
                        <div class="quote-statement">
                            <p>This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.</p>
                        </div>
                        <div class="quote-author">Jenny Johannesson</div>
                    </blockquote>
                </div>

                <div class="feature"> <!-- VIDEO TEXT LINK -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Video, Text and Link</div>
                    </div>
                    <div class="feature-media">
                        <img src="//www.placehold.it/480x280" alt="FPO">
                    </div>
                    <div class="feature-bd">
                        <p class="bdcpy">
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                        </p>
                    </div>
                    <div class="feature-cta">
                        <a class="link" href="">Link</a>
                    </div>
                </div>

                <div class="feature"> <!-- IMAGE w/CAPTION -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Image with Caption</div>
                    </div>
                    <div class="feature-media">
                        <img src="//www.placehold.it/480x280" alt="FPO">
                        <div class="feature-media-caption">
                           <p>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>
                        </div>
                    </div>
                </div>

                <div class="feature"> <!-- VIDEO TEXT LIST -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Video, Text and List</div>
                    </div>
                    <div class="feature-media">
                        <div class="contentOnMedia">
                            <img class="contentOnMedia-media" src="//www.placehold.it/480x280" alt="" />
                            <div class="contentOnMedia-details">
                                <div class="contentOnMedia-details-title">Video Title</div>
                                <div class="contentOnMedia-details-duration">00:00</div>
                            </div>
                            <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                                <span class="circleBtn circleBtn_play"></span>
                            </a>
                        </div>
                    </div>
                    <div class="feature-bd">
                        <div class="hdg hdg_4">Sub or List Title:</div>
                    </div>
                    <div class="feature-bd">
                        <div class="vList vList_bullets">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </div>
                    </div>
                </div>

                <!-- TODO: Define and build gallery Module
                    Functionality:
                        - Auto rotate?
                        - Text and Images or just Images rotate?
                        - Limit on nuber of slides? (2 shown in layout)
                        - Media types: Images and/or Videos?
                        -
                -->
                <div class="feature"> <!-- GALLERY -->
                    <div class="feature-hd">
                        <div class="hdg hdg_2">Gallery <span class="hdg hdg_5 mix-hdg_gray">(TODO: Define Features)</span></div>
                    </div>
                    <div class="feature-media">
                        <div class="gallery">
                            <img src="//www.placehold.it/480x280" alt="FPO">
                        </div>
                    </div>

                    <div class="feature-bd">
                        <p class="bdcpy">
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/content}}

{{/extend}}
