{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <div style=" margin: 20px auto; max-width: 480px; padding: 40px 80px;">
        <div class="resultsList">
            <div class="resultsList-list">
                <div class="resultsList-list-item">
                    <div class="media media_inline">
                        <div class="media-figure">
                            <img src="//www.placehold.it/210x260">
                        </div>
                        <div class="media-bd">
                            <div class="feature">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_3">Internet.org: Myths and Facts</h2>
                                </div>
                                <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_3">Announcing the Internet.org Now Available in Columbia</h2>
                        </div>
                        <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re introducing the Internet.org Platform, an open program for developers to easily create services that integrate with...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="media media_inline">
                        <div class="media-figure">
                            <img src="//www.placehold.it/210x260">
                        </div>
                        <div class="media-bd">
                            <div class="feature">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_3">Internet.org: Myths and Facts</h2>
                                </div>
                                <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style=" margin: 20px auto; max-width: 480px; padding: 40px 80px;">
        <div class="resultsList">
            <div class="resultsList-hd">
                <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">16 Results Found</div>
            </div>
            <div class="resultsList-list">
                <div class="resultsList-list-item">
                    <div class="feature">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_3">Project Aquila This Title is Pretty Long and Goes on Two Lines</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_3">Project Acuila</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_3">Project Acuila</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style=" margin: 20px auto;">

        <div class="footBox" style="margin: 0 auto;">
            <div class="topicBlock">
                <div class="topicBlock-hd">
                    <h2>Get Involved</h2>
                </div>
                <div class="topicBlock-bd">
                    <ul class="vList">
                        <li><a href="" class="link link_twoArrows">Develop for Internet.org Platform</a></li>
                        <li><a href="" class="link link_twoArrows">Visit the facebook page</a></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>

    <div style=" margin: 20px auto;">

        <div class="footBox" style="margin: 0 auto;">
            <div class="footBox-hd">More Posts</div>
            <div class="vList vList_footBox"><!-- vList_divided -->
                <div>
                    <div class="topicBlock">
                        <div class="topicBlock-hd">
                            <h2>Max Three Lines Article Title on Mobile Ipsum</h2>
                        </div>
                        <div class="topicBlock-bd">Fast facts about Internet.org and free basic services lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                    </div>
                </div>
                <div>
                    <div class="topicBlock">
                        <div class="topicBlock-hd">
                            <h2>Max Three Lines Article Title on Mobile Ipsum</h2>
                        </div>
                        <div class="topicBlock-bd">Fast facts about Internet.org and free basic services lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                    </div>
                </div>
                <div>
                    <div class="topicBlock">
                        <div class="topicBlock-hd">
                            <h2>Article Title</h2>
                        </div>
                        <div class="topicBlock-bd">Example of very short copy.</div>
                        <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style=" margin: 0 auto; max-width: 480px; padding: 40px 80px; ">

        <div class="feature">
            <div class="feature-hd">
                <h2 class="hdg hdg_2">Full List of Free Services</h2>
            </div>
            <div class="feature-bd">
                <ul class="servicesList">
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-dictionary.png" alt="dictionary.com" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">Dictionary.com</div>
                                    <div class="bdcpy bdcpy_sm">Search for meaning of words</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-espn.png" alt="espn" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">ESPN</div>
                                    <div class="bdcpy bdcpy_sm">Get sports updates</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-bing.png" alt="bing" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">Bing Search</div>
                                    <div class="bdcpy bdcpy_sm">Find Information</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-babycentermama.png" alt="BayCenter and MAMA" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">BabyCenter &amp; MAMA</div>
                                    <div class="bdcpy bdcpy_sm">Learn about pregnancy amd childcare</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-accuweather.png" alt="Accueweather" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">AccuWeather</div>
                                    <div class="bdcpy bdcpy_sm">Get updated information about the weather</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="servicesList-item">
                                <div class="servicesList-item-icon">
                                    <img src="assets/media/images/icons/png/icon-services-ask.png" alt="Ask.com" />
                                </div>
                                <div class="servicesList-item-bd">
                                    <div class="hdg hdg_4">Ask.com</div>
                                    <div class="bdcpy bdcpy_sm">Find Information</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div style=" margin: 0 auto; max-width: 480px; padding: 40px 80px; ">
        <div class="topicBlock">
            <div class="topicBlock-hd topicBlock-hd_plus">
                <h2>Article Title on Max Three Lines on Mobile Ipsum</h2>
            </div>
            <div class="topicBlock-date">May 25, 2015</div>
            <div class="topicBlock-bd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela  eu ante vel vehicula dolor sit amet, consectetur adipiscing elit.</div>
            <div class="topicBlock-cta"><a href="" class="btn">Read</a></div>
            <div class="topicBlock-ft">
                <ul class="socialParade">
                    <li><a class="socialParade-icon socialParade-icon_fb" href="">Facebook</a></li>
                    <li><a class="socialParade-icon socialParade-icon_tw" href="">Twitter</a></li>
                    <li><a class="socialParade-icon socialParade-icon_li" href="">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div style=" margin: 0 auto; max-width: 480px; padding: 40px 80px; ">

        <ul class="vList">
            <li>
                <div class="menuTrigger">
                    <span class="menuTrigger-label">Menu</span>
                    <!-- TODO: Need to add js hooks. reference: http://codepen.io/patrickjannette/pen/vOVYXm --> 
                    <div class="menuTrigger-icon isOpen"></div>

                </div>
            </li>
            <li>
                <div class="contentOnMedia">
                    <img class="contentOnMedia-media" src="//www.placehold.it/480x280">
                    <a href="" class="contentOnMedia-link contentOnMedia-link_br">
                        <span class="contentOnMedia-link-cta">Link on Image</span>
                        <span class="circleBtn"></span>
                    </a>
                </div>
            </li>
            <li>
                <div class="contentOnMedia">
                    <img class="contentOnMedia-media" src="//www.placehold.it/480x280">
                    <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                        <span class="circleBtn circleBtn_play"></span>
                    </a>
                </div>
            </li>
            <li>
                <div class="hdg hdg_5">Animated Arrow Call-To-Action</div>
                <div class="arrowCta"></div>
            </li>
            <li>
                <a href="" class="circleBtn circleBtn_themeImpact"></a>
                <a href="" class="circleBtn circleBtn_themeApproach"></a>
                <a href="" class="circleBtn circleBtn_themeMission"></a>
                <a href="" class="circleBtn circleBtn_play"></a>
            </li>
            <li><a href="" class="btn">Default Button</a></li>
            <li><a href="" class="btn btn_themeImpact">Impact Button</a></li>
            <li><a href="" class="btn btn_themeApproach">Approach Button</a></li>
            <li><a href="" class="btn btn_themeMission">Mission Button</a></li>
            <li><a href="" class="btn btn_facebook">Facebook Button</a></li>
            <li><a href="" class="link">Default Link</a></li>
            <li><a href="" class="link link_themeImpact">Impact Link</a></li>
            <li><a href="" class="link link_themeApproach">Approach Link</a></li>
            <li><a href="" class="link link_themeMission">Mission Link</a></li>
        </ul>
        
        <div class="vList">
            <div class="hdg hdg_1">Heading 1</div>
            <div class="hdg hdg_2">Heading 2</div>
            <div class="hdg hdg_3">Heading 3</div>
            <div class="hdg hdg_4">Heading 4</div>
            <div class="hdg hdg_5">Heading 5</div>
            <div class="hdg hdg_subHdg mix-hdg_gray">Sub-heading 1</div>
            <div>
                <div class="hdg hdg_5">Body Copy</div>
                <p class="bdcpy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <div class="hdg hdg_5">Body Copy Small</div>
                <p class="bdcpy bdcpy_sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>


    <div style=" margin: 0 auto; max-width: 480px; padding: 40px 80px; ">

        <div class="vr_x5 theme-approach">

            <div class="feature"> <!-- TEXT -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Text Block</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi. Integer ut felis purus. Etiam vehicula, ipsum non venenatis feugiat, lorem tellus euismod mi, eu bibendum ligula.
                    </p>
                </div>
            </div>

            <div class="feature"> <!-- TEXT IMAGE -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Text Block with Image</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-media">
                    <img src="//www.placehold.it/480x280" alt="FPO">
                </div>
            </div>

            <div class="feature"> <!-- IMAGE TEXT QUOTE -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Image, Text and Quote</div>
                </div>
                <div class="feature-media">
                    <img src="//www.placehold.it/480x280" alt="FPO">
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <blockquote class="quote">
                    <div class="quote-statement">
                        <p>This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.</p>
                    </div>
                    <div class="quote-author">Jenny Johannesson</div>
                </blockquote>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LINK -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Video, Text and Link</div>
                </div>
                <div class="feature-media">
                    <img src="//www.placehold.it/480x280" alt="FPO">
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-cta">
                    <a class="link" href="">Link</a>
                </div>
            </div>

            <div class="feature"> <!-- IMAGE w/CAPTION -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Image with Caption</div>
                </div>
                <div class="feature-media">
                    <img src="//www.placehold.it/480x280" alt="FPO">
                    <div class="feature-media-caption">
                       <p>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>
                    </div>
                </div>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LINK -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Video, Text and Link</div>
                </div>
                <div class="feature-media">
                    <div class="contentOnMedia">
                        <img class="contentOnMedia-media" src="//www.placehold.it/480x280">
                        <div class="contentOnMedia-details">
                            <div class="contentOnMedia-details-title">Video Title</div>
                            <div class="contentOnMedia-details-duration">00:00</div>
                        </div>
                        <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                            <span class="circleBtn circleBtn_play"></span>
                        </a>
                    </div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-cta">
                    <a class="link" href="">Link</a>
                </div>
            </div>

            <!-- TODO: Define and build gallery Module 
                Functionality: 
                    - Auto rotate?
                    - Text and Images or just Images rotate?
                    - Limit on nuber of slides? (2 shown in layout)
                    - Media types: Images and/or Videos?
                    - 
            -->
            <div class="feature"> <!-- GALLERY -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Gallery <span class="hdg hdg_5 mix-hdg_gray">(TODO: Define Features)</span></div>
                </div>
                <div class="feature-media">
                    <div class="gallery">
                        <img src="//www.placehold.it/480x280" alt="FPO">    
                    </div>
                </div>

                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
            </div>

        </div>
    
    </div>

    {{/content}}

{{/extend}}
