{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <style type="text/css">
        .PATTERN-hdg {
            padding: 5px 0;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #555;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }
    </style>

    <div class="PATTERN-hdg" style="margin-top: 80px;">WYSIWYG - All Quarentine styles</div>
    <div style="max-width: 640px; margin: 0 auto; padding: 20px 0; position: relative;"> <!-- WYSIWYG STYLES - Internal Template -->

        <div class="container">

        <!-- theme-mission: class can be applied on the container module or feature module level -->
            <div class="feature"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">Section Heading / Title</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <h3>Sub or List Title:</h3>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>

                    <figure>
                        <img src="../assets/media/images/mainstory-img-10.jpg" alt="FPO">
                        <figcaption>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.</figcaption>
                    </figure>

                    <p>
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>

                    <blockquote>
                        <p>
                            This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.
                        </p>
                        <cite>Jenny Johannesson</cite>
                    </blockquote>
                    
                    <a href="/approach/tertiary">Link</a><!--class="js-stateLink" -->

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->

        </div>

    </div>

    <div class="PATTERN-hdg" style="margin-top: 80px;">WYSIWYG - Example Quarentine Feature Stacking</div>
    <div style="max-width: 640px; margin: 0 auto; padding: 20px 0; position: relative;"> <!-- WYSIWYG STYLES - Internal Template -->

        <div class="container">

            <div class="feature"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">Section Heading / Title</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <p>
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                    
                    <a href="/approach/tertiary">Link</a>

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->

            <div class="feature"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">Section Heading / Title</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->

                    <figure>
                        <img src="../assets/media/images/mainstory-img-10.jpg" alt="FPO">
                        <figcaption>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.</figcaption>
                    </figure>

                    <p>
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>

                    <blockquote>
                        <p>
                            This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.
                        </p>
                        <cite>Jenny Johannesson</cite>
                    </blockquote>
                    
                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->
            <div class="feature"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">Section Heading / Title</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <h3>Sub or List Title:</h3>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->

        </div>

    </div>

    <div class="PATTERN-hdg" style="margin-top: 80px;">WYSIWYG - Themed Quarentine styles</div>
    <div style="max-width: 640px; margin: 0 auto; padding: 20px 0 40px; position: relative;"> <!-- WYSIWYG STYLES - Internal Template -->

        <div class="container">
        <!-- theme-mission: class can be applied on the container module or feature module level -->
            <div class="feature theme-mission"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">THEME: Mission</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <h3>Sub or List Title:</h3>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>

                    <blockquote>
                        <p>
                            This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.
                        </p>
                        <cite>Jenny Johannesson</cite>
                    </blockquote>
                    
                    <a href="/approach/tertiary">Link</a><!--class="js-stateLink" -->

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->
            
            <div class="feature theme-approach"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">THEME: Approach</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <h3>Sub or List Title:</h3>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>

                    <blockquote>
                        <p>
                            This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.
                        </p>
                        <cite>Jenny Johannesson</cite>
                    </blockquote>
                    
                    <a href="/approach/tertiary">Link</a><!--class="js-stateLink" -->

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->
            
            <div class="feature theme-impact"> <!-- START: WP Custom Field SECTION -->
                <div class="feature-hd"> <!-- START: WP SECTION TITLE -->
                    <h3 class="hdg hdg_3">THEME: Impact</h3>
                </div><!-- END: WP SECTION TITLE -->
                <div class="feature-bd quarentine"> <!-- START: WP SECTION WYSIWYG AREA -->
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">

                    <h3>Sub or List Title:</h3>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>

                    <blockquote>
                        <p>
                            This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.
                        </p>
                        <cite>Jenny Johannesson</cite>
                    </blockquote>
                    
                    <a href="/approach/tertiary">Link</a><!--class="js-stateLink" -->

                </div> <!-- END: WP SECTION WYSIWYG AREA -->
            </div><!-- END: WP Custom Field SECTION -->

        </div>

    </div>


    {{/content}}

{{/extend}}
