
<div class="theme-approach">
    <div class="container">
        <div class="contentCol">
            <div class="feature"> <!-- TEXT -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Text Block</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi. Integer ut felis purus. Etiam vehicula, ipsum non venenatis feugiat, lorem tellus euismod mi, eu bibendum ligula.
                    </p>
                </div>
            </div>

            <div class="feature"> <!-- TEXT IMAGE -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Text Block with Image</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-7.jpg" alt="FPO">
                </div>
            </div>

            <div class="feature"> <!-- IMAGE TEXT QUOTE -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Image, Text and Quote</div>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-8.jpg" alt="FPO">
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <blockquote class="quote">
                    <div class="quote-statement">
                        <p>This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.</p>
                    </div>
                    <div class="quote-author">Jenny Johannesson</div>
                </blockquote>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LINK -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Video, Text and Link</div>
                </div>
                <div class="feature-media">
                    <div class="contentOnMedia">
                        <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-12.jpg" alt="" />
                        <div class="contentOnMedia-details">
                            <div class="contentOnMedia-details-title">Video Title</div>
                            <div class="contentOnMedia-details-duration">00:00</div>
                        </div>
                        <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                            <span class="circleBtn circleBtn_play"></span>
                        </a>
                    </div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel.
                    </p>
                </div>
                <div class="feature-cta">
                    <a class="link js-stateLink" href="/approach/tertiary" data-title="tertiary title" data-desc="test" data-type="titled">Link</a>
                </div>
            </div>

            <div class="feature"> <!-- IMAGE w/CAPTION -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Image with Caption</div>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-9.jpg" alt="FPO">
                    <div class="feature-media-caption">
                       <p>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.</p>
                    </div>
                </div>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LIST -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Video, Text and List</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-media">
                    <div class="contentOnMedia">
                        <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-10.jpg" alt="" />
                        <div class="contentOnMedia-details">
                            <div class="contentOnMedia-details-title">Video Title</div>
                            <div class="contentOnMedia-details-duration">00:00</div>
                        </div>
                        <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                            <span class="circleBtn circleBtn_play"></span>
                        </a>
                    </div>
                </div>
                <div class="feature-subHd">
                    <div class="hdg hdg_4">Sub or List Title:</div>
                </div>
                <div class="feature-bd">
                    <div class="vList vList_bullets">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="contentCol contentCol_flush">
        <div class="container">
            <div class="feature"> <!-- GALLERY -->
                <div class="feature-hd">
                    <div class="hdg hdg_3">Gallery</div>
                </div>
                <div class="feature-gallery">
                    <div id="js-carouselView2" class="carousel js-carouselView">
                        <div class="handle carousel-handle">
                            <div class="carousel-handle-slide">
                                <div class="carousel-handle-slide-media">
                                    <img src="../assets/media/images/mainstory-img-11.jpg" alt="placeholder">
                                </div>
                                <div class="carousel-handle-slide-caption">
                                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Suspen disse est nulla, suscipit eu ante vel dolor sit amet, consec tetur adipiscing elit. Suspendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                                </div>
                            </div>
                            <div class="carousel-handle-slide">
                                <div class="carousel-handle-slide-media">
                                    <img src="../assets/media/images/mainstory-img-8.jpg" alt="placeholder">
                                </div>
                                <div class="carousel-handle-slide-caption">
                                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Suspen disse est nulla, suscipit eu ante vel dolor sit amet, consec tetur adipiscing elit. Suspendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                                </div>
                            </div>
                            <div class="carousel-handle-slide">
                                <div class="carousel-handle-slide-media">
                                    <img src="../assets/media/images/mainstory-img-7.jpg" alt="placeholder">
                                </div>
                                <div class="carousel-handle-slide-caption">
                                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Suspen disse est nulla, suscipit eu ante vel dolor sit amet, consec tetur adipiscing elit. Suspendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                                </div>
                            </div>
                            <div class="carousel-handle-slide">
                                <div class="carousel-handle-slide-media">
                                    <img src="../assets/media/images/mainstory-img-6.jpg" alt="placeholder">
                                </div>
                                <div class="carousel-handle-slide-caption">
                                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Suspen disse est nulla, suscipit eu ante vel dolor sit amet, consec tetur adipiscing elit. Suspendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                                </div>
                            </div>
                            <div class="carousel-handle-slide">
                                <div class="carousel-handle-slide-media">
                                    <img src="../assets/media/images/mainstory-img-2.jpg" alt="placeholder">
                                </div>
                                <div class="carousel-handle-slide-caption">
                                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Suspen disse est nulla, suscipit eu ante vel dolor sit amet, consec tetur adipiscing elit. Suspendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                                </div>
                            </div>
                        </div>
                        <div class="carousel-captionBox"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end contentCol_flush -->
</div>

<div class="introBlock introBlock_foot js-scrollImage" data-image="http://placehold.it/400x800?text=IMPACT">
    <div class="introBlock-inner">
        <div class="topicBlock">
            <div class="topicBlock-subHd">
                <div class="hdg hdg_5 mix-hdg_italic mix-hdg_gray">Learn About</div>
            </div>
            <div class="topicBlock-hd topicBlock-hd_plus topicBlock-hd_themeImpact">
                <h2 class="hdg hdg_2 mix-hdg_bold">Our Impact</h2>
            </div>
        </div>
    </div>
    <div class="introBlock-ft">
        <a href="/impact" class="arrowCta js-stateSwap" data-title="Our Impact" data-image="http://placehold.it/400x800?text=IMPACT" data-theme="Impact"></a>
    </div>
</div>
