<div>

    <div class="introBlock">
        <div class="introBlock-inner">
            <div class="topicBlock">
                <div class="topicBlock-hd topicBlock-hd_mega">
                    <h2>Main Story</h2>
                </div>
                <div class="topicBlock-bd">
                    <p class="bdcpy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela eu ante vel vehicula.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contentCol">
        <div class="theme-approach">

            <div class="feature"> <!-- TEXT -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Text Block</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi. Integer ut felis purus. Etiam vehicula, ipsum non venenatis feugiat, lorem tellus euismod mi, eu bibendum ligula.
                    </p>
                </div>
            </div>

            <div class="feature"> <!-- TEXT IMAGE -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Text Block with Image</div>
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-1.jpg" alt="FPO">
                </div>
            </div>

            <div class="feature"> <!-- IMAGE TEXT QUOTE -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Image, Text and Quote</div>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-2.jpg" alt="FPO">
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <blockquote class="quote">
                    <div class="quote-statement">
                        <p>This is a quote adipiscing elitasie sus pendisse est nulla, suscipit eante finibus nisipiscing lorem ipsum.</p>
                    </div>
                    <div class="quote-author">Jenny Johannesson</div>
                </blockquote>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LINK -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Video, Text and Link</div>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-3.jpg" alt="FPO">
                </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
                <div class="feature-cta">
                    <a class="link js-stateLink" href="/approach-tertiary">Link</a>
                </div>
            </div>

            <div class="feature"> <!-- IMAGE w/CAPTION -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Image with Caption</div>
                </div>
                <div class="feature-media">
                    <img src="../assets/media/images/mainstory-img-4.jpg" alt="FPO">
                    <div class="feature-media-caption">
                       <p>Caption lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>
                    </div>
                </div>
            </div>

            <div class="feature"> <!-- VIDEO TEXT LIST -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Video, Text and List</div>
                </div>
                <div class="feature-media">
                    <div class="contentOnMedia">
                        <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-5.jpg" alt="" />
                        <div class="contentOnMedia-details">
                            <div class="contentOnMedia-details-title">Video Title</div>
                            <div class="contentOnMedia-details-duration">00:00</div>
                        </div>
                        <a href="" class="contentOnMedia-link contentOnMedia-link_ct">
                            <span class="circleBtn circleBtn_play"></span>
                        </a>
                    </div>
                </div>
                <div class="feature-bd">
                    <div class="hdg hdg_4">Sub or List Title:</div>
                </div>
                <div class="feature-bd">
                    <div class="vList vList_bullets">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspen pendisse est nulla.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </div>
                </div>
            </div>
            <div class="feature"> <!-- GALLERY -->
                <div class="feature-hd">
                    <div class="hdg hdg_2">Gallery</div>
                </div>
                    <div id="js-carousel" class="carousel">
                        <div class="handle carousel-handle">
                            <div class="carousel-handle-slide">
                                <img src="../assets/media/images/mainstory-img-1.jpg" alt="placeholder" />
                            </div>
                            <div class="carousel-handle-slide">
                                <img src="../assets/media/images/mainstory-img-2.jpg" alt="placeholder" />
                            </div>
                            <div class="carousel-handle-slide">
                                <img src="../assets/media/images/mainstory-img-3.jpg" alt="placeholder" />
                            </div>
                            <div class="carousel-handle-slide">
                                <img src="../assets/media/images/mainstory-img-4.jpg" alt="placeholder" />
                            </div>
                            <div class="carousel-handle-slide">
                                <img src="../assets/media/images/mainstory-img-5.jpg" alt="placeholder" />
                            </div>
                        </div>
                    </div>
                <div class="feature-bd">
                    <p class="bdcpy">
                        Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Sus pendisse est nulla, suscipit eu ante vel, vehicula finibus nisi.
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>
