<div class="contentCol contentCol_divided">
	<div class="container">
		<div class="feature">
			<div class="feature-hd">
				<div class="hdg hdg_4">Want to partner with us?</div>
			</div>
			<div class="feature-bd">
				<p class="bdcpy">
					Are you a developer or member of an organization interested in working with Internet.org?
				</p>
			</div>
			<div class="feaure-cta"><a class="link" href="">Learn More</a></div>
		</div>
		<div class="feature">
			<div class="feature-bd">
				<p class="bdcpy">
					Are you a mobile operator interested in working with Internet.org?
				</p>
			</div>
			<div class="feaure-cta"><a class="link" href="">Learn More</a></div>
		</div>
	</div>
</div>

<div class="container">
    <div class="contentCol">
            <div class="vr vr_x4">
                <div class="hdg hdg_3">Get in Touch</div>
            </div>
            <form novalidate>
                <div class="vr vr_x4">                    
                    <fieldset>
                        <ul class="vList vList_spread">
                            <li>
                                <div class="hdg hdg_6">I’m completing this form for:</div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio01" type="radio" name="radio-set-one" />
                                    <label class="inputRadio-label" for="radio01"><span class="inputRadio-label-inner"></span>A business/corporation</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio02" type="radio" name="radio-set-one" />
                                    <label class="inputRadio-label" for="radio02"><span class="inputRadio-label-inner"></span>A nonprofit/organization</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio03" type="radio" name="radio-set-one" />
                                    <label class="inputRadio-label" for="radio03"><span class="inputRadio-label-inner"></span>Myself or another individual</label>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="vr vr_x5">
                    <fieldset>
                        <ul class="vList vList_spread">
                            <li>
                                <label class="u-isVisuallyHidden" for="inputName">First Name</label>
                                <input class="inputText" id="inputName" type="text" placeholder="Your Name"/>
                            </li>
                            <li>
                                <label class="u-isVisuallyHidden" for="inputEmail">First Name</label>
                                <input class="inputText" id="inputEmail" type="email" placeholder="Your Email" />
                            </li>
                            <li>
                                <label class="u-isVisuallyHidden" for="inputComment">First Name</label>
                                <input class="inputText" id="inputComment" type="text" placeholder="Your Comments"/>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="vr vr_x5">
                    <fieldset>
                        <ul class="vList vList_spread">
                            <li>
                                <div class="hdg hdg_6">I’m interested in:</div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-01" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-01"><span class="inputRadio-label-inner"></span>Getting news from Internet.org</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-02" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-02"><span class="inputRadio-label-inner"></span>Getting news from Internet.org</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-03" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-03"><span class="inputRadio-label-inner"></span>Recommending a Free Basic Service</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-04" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-04"><span class="inputRadio-label-inner"></span>Supporting Internet.org projects</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-05" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-05"><span class="inputRadio-label-inner"></span>Using the Internet.org Innovation Lab</label>
                                </div>
                            </li>
                            <li>
                                <div class="inputRadio">
                                    <input class="inputRadio-radio" id="radio2-06" type="radio" name="radio-set-two" />
                                    <label class="inputRadio-label" for="radio2-06"><span class="inputRadio-label-inner"></span>Other</label>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <fieldset>
                    <button class="btn">Submit</button>
                </fieldset>
            </form>
    </div>
</div>

<div class="socialBlock">
    <div class="socialBlock-inner">
        <div class="container">
            <div class="fbFollowBlock">
                <div class="fbFollowBlock-bd">
                    <h2 class="hdg hdg_2 mix-hdg_white">Follow <br />the Project</h2>
                    <p class="bdcpy mix-bdcpy_light">Stay upsubHdd about Internet.org and lorem ipsum dolor sit amet.</p>
                </div>
                <div class="fbFollowBlock-cta">
                    <a href="" class="btn btn_facebook">Like us on Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
