<div class="narrativeView js-narrativeView">
    <div class="narrativeDT" data-feature-images="
    /assets/media/uploads/home_DT.jpg,
    /assets/media/uploads/mission_DT.jpg,
    /assets/media/uploads/approach_DT.jpg,
    /assets/media/uploads/approach_DT_02.jpg,
    /assets/media/uploads/approach_DT_03.jpg,
    /assets/media/uploads/impact_DT.jpg,
    /assets/media/uploads/impact_DT_02.jpg,
    /assets/media/uploads/impact_DT_03.jpg,
    /assets/media/uploads/contact_DT.jpg
    ">
        <div class="narrativeDT-inner">
            <div class="container">
                <div class="transformBlock js-transformBlock">
                    <div class="transformBlock-pre">
                        <div class="transformBlock-pre-item transformBlock-pre-item_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Internet.org is</span>
                        </div>
                        <div class="transformBlock-pre-item">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Join us in</span>
                        </div>
                    </div>
                    <div class="transformBlock-stmnt">
                        <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                    </div>
                    <div class="transformBlock-post">
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">means connecting the whole <br />world, not just some of us</p>
                            </div>
                            <a href="/mission" class="link link_themeMission js-stateLink">Our Mission</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">takes inventing new ways <br />of doing things</p>
                            </div>
                            <a href="/approach" class="link link_themeApproach js-stateLink">Our Approach</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="transformBlock-post-item-bd">
                                <p class="bdcpy bdcpy_narrative">is already making <br />a difference</p>
                            </div>
                            <a href="/impact" class="link link_themeImpact js-stateLink">Our Impact</a>
                        </div>
                        <div class="transformBlock-post-item">
                            <div class="splashFooter">
                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get involved</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Develop for Internet.org Platform</a>
                                            </li>
                                            <li>
                                                <a href="#" class="link link_preArrows">See our Careers</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get the latest</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Read the Press</a>
                                            </li>
                                            <li>
                                                <a href="#" class="link link_preArrows">Visit the Facebook Page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get in touch</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Contact the Internet.org Team</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="narrative">
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/home.jpg')"></div>
            </div>
            <div class="narrative-section-bd narrative-section-bd_low">
                <div class="container container_wide">
                    <div class="statementBlock statementBlock_start">
                        <div class="statementBlock-pre statementBlock-pre_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Internet.org is</span>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-ft">
                    <a href="#" class="arrowCta arrowCta_light"></a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/mission.jpg')"></div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeMission">Our Mission</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">means connecting the whole <br />world, not just some of us</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="#" class="circleBtn circleBtn_themeMission js-stateLink">Our Mission</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach_02.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/approach_03.jpg')"></div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeApproach u-isHiddenMedium">Our Approach</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">takes inventing new ways <br />of doing things</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="#" class="circleBtn circleBtn_themeApproach js-stateLink">Our Approach</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact_02.jpg')"></div>
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/impact_03.jpg')"></div>
            </div>
            <div class="narrative-section-bd">
                <div class="container container_wide">
                    <div class="statementBlock">
                        <div class="statementBlock-pre">
                            <h2 class="hdg hdg_heavy mix-hdg_themeImpact u-isHiddenMedium">Our Impact</h2>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <p class="bdcpy bdcpy_narrative">is already making <br />a difference</p>
                        </div>
                    </div>
                </div>
                <div class="narrative-section-bd-link u-isHiddenMedium">
                    <a href="#" class="circleBtn circleBtn_themeImpact js-stateLink">Our Impact</a>
                </div>
            </div>
        </div>
        <div class="narrative-section">
            <div class="narrative-section-slides">
                <div class="narrative-section-slides-item" style="background-image: url('assets/media/uploads/contact.jpg')">
                    <div class="statementBlock statementBlock_end">
                        <div class="statementBlock-pre statementBlock-pre_divide">
                            <span class="bdcpy bdcpy_narrative mix-bdcpy_splash">Join us in</span>
                        </div>
                        <div class="statementBlock-hd">
                            <h2 class="hdg hdg_1 mix-hdg_splash">Connecting <br />the world</h2>
                        </div>
                        <div class="statementBlock-bd">
                            <div class="splashFooter">
                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get involved</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Develop for Internet.org Platform</a>
                                            </li>
                                            <li>
                                                <a href="#" class="link link_preArrows">See our Careers</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get the latest</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Read the Press</a>
                                            </li>
                                            <li>
                                                <a href="#" class="link link_preArrows">Visit the Facebook Page</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="splashFooter-section">
                                    <div class="splashFooter-section-hd">
                                        <h3 class="hdg hdg_4">Get in touch</h3>
                                    </div>
                                    <div class="splashFooter-section-bd">
                                        <ul class="">
                                            <li>
                                                <a href="#" class="link link_preArrows">Contact the Internet.org Team</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="narrative-progress narrative-progress_isHidden">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
