<div class="introBlock introBlock_fill">
    <div class="introBlock-inner">
        <div class="topicBlock">
            <div class="topicBlock-hd topicBlock-hd_plus">
                <h2>Example Intro Block</h2>
            </div>
            <div class="topicBlock-subHd">May 25, 2015</div>
            <div class="topicBlock-bd">Will need to replace this layout with the home page narrative one.</div>
            <div class="topicBlock-cta"><a class="btn btn_themeApproach js-stateLink" href="/approach" data-type="panel" data-title="Our Approach" data-image="http://placehold.it/400x800?text=APPROACH" data-theme="Approach">Our Approach</a></div>
        </div>
    </div>
    <div class="introBlock-ft">
        <ul class="socialParade">
            <li><a class="socialParade-icon socialParade-icon_fb" href="">Facebook</a></li>
            <li><a class="socialParade-icon socialParade-icon_tw" href="">Twitter</a></li>
            <li><a class="socialParade-icon socialParade-icon_li" href="">LinkedIn</a></li>
        </ul>
    </div>
</div>
