<div class="theme-impact">
	<div class="container">
	    <div class="contentCol">

			<!-- START ADD DESKTOP ONLY CONTENT HERE -->
            <!-- Duplicate Content - DESKTOP Only -->
			<div class="feature isVissuallyHidden u-isVisuallyHiddenSmall">
	            <div class="feature-hd">
	                <div class="hdg hdg_3">Internet Access Changes Lives</div>
	            </div>
	            <div class="feature-bd">
	            	<p class="bdcpy bdcpy_sm">
	            		Around the world, people are taking the initiative and using Internet.org to improve their lives — they’re doing better in school, building businesses and providing for their families.
	            	</p>
	            </div>
            </div>
             <!-- END Duplicate Content - DESKTOP Only -->
	         <!-- END ADD DESKTOP ONLY CONTENT HERE -->


	        <div class="feature">
	            <div class="feature-hd">
	                <div class="hdg hdg_3">Kenet</div>
	                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">Jakarta, Indonesia</div>
	            </div>
	            <div class="feature-media">
	                <div class="contentOnMedia">
	                    <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-12.jpg" alt="" />
	                    <div class="contentOnMedia-details">
	                        <div class="contentOnMedia-details-title">Video Title</div>
	                        <div class="contentOnMedia-details-duration">00:00</div>
	                    </div>
	                    <a href="https://vimeo.com/20949784" class="contentOnMedia-link contentOnMedia-link_ct js-videoModal">
	                        <span class="circleBtn circleBtn_play"></span>
	                    </a>
	                </div>
	            </div>
	            <div class="feature-bd">
	                <p class="bdcpy bdcpy_sm">
	                    Kenet and his classmates are using Internet.org to do homework.
	                </p>
	            </div>
	            <div class="feature-cta">
	                <a class="link js-stateLink" href="/approach/tertiary" data-title="Tertiary Page Title" data-desc="Tertiary page description" data-type="titled">Learn More</a>
	            </div>
	        </div>

	        <div class="feature">
	            <div class="feature-hd">
	                <div class="hdg hdg_3">Jesus</div>
	                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">Jakarta, Indonesia</div>
	            </div>
	            <div class="feature-media">
	                <div class="contentOnMedia">
	                    <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-12.jpg" alt="" />
	                    <div class="contentOnMedia-details">
	                        <div class="contentOnMedia-details-title">Video Title</div>
	                        <div class="contentOnMedia-details-duration">00:00</div>
	                    </div>
	                    <a href="https://vimeo.com/20949784" class="contentOnMedia-link contentOnMedia-link_ct js-videoModal">
	                        <span class="circleBtn circleBtn_play"></span>
	                    </a>
	                </div>
	            </div>
	            <div class="feature-bd">
	                <p class="bdcpy bdcpy_sm">
	                    Internet access turned Jesus’ passion for drawing into a job.
	                </p>
	            </div>
	            <div class="feature-cta">
	                <a class="link js-stateLink" href="/approach/tertiary" data-title="Tertiary Page Title" data-desc="Tertiary page description" data-type="titled">Learn More</a>
	            </div>
	        </div>

	        <div class="feature">
	            <div class="feature-hd">
	                <div class="hdg hdg_3">Paula</div>
	                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">Jakarta, Indonesia</div>
	            </div>
	            <div class="feature-media">
	                <div class="contentOnMedia">
	                    <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-12.jpg" alt="" />
	                    <div class="contentOnMedia-details">
	                        <div class="contentOnMedia-details-title">Video Title</div>
	                        <div class="contentOnMedia-details-duration">00:00</div>
	                    </div>
	                    <a href="https://vimeo.com/20949784" class="contentOnMedia-link contentOnMedia-link_ct js-videoModal">
	                        <span class="circleBtn circleBtn_play"></span>
	                    </a>
	                </div>
	            </div>
	            <div class="feature-bd">
	                <p class="bdcpy bdcpy_sm">
	                    Paula used the Internet to turn her home business into a better.
	                </p>
	            </div>
	            <div class="feature-cta">
	                <a class="link js-stateLink" href="/approach/tertiary" data-title="Tertiary Page Title" data-desc="Tertiary page description" data-type="titled">Learn More</a>
	            </div>
	        </div>

	        <div class="feature">
	            <div class="feature-hd">
	                <div class="hdg hdg_3">Juan</div>
	                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">Jakarta, Indonesia</div>
	            </div>
	            <div class="feature-media">
	                <div class="contentOnMedia">
	                    <img class="contentOnMedia-media" src="../assets/media/images/mainstory-img-12.jpg" alt="" />
	                    <div class="contentOnMedia-details">
	                        <div class="contentOnMedia-details-title">Video Title</div>
	                        <div class="contentOnMedia-details-duration">00:00</div>
	                    </div>
	                    <a href="https://vimeo.com/20949784" class="contentOnMedia-link contentOnMedia-link_ct js-videoModal">
	                        <span class="circleBtn circleBtn_play"></span>
	                    </a>
	                </div>
	            </div>
	            <div class="feature-bd">
	                <p class="bdcpy bdcpy_sm">
	                    Juan used Internet.org to find a market for his lemon juice.
	                </p>
	            </div>
	            <div class="feature-cta">
	                <a class="link js-stateLink" href="/approach/tertiary" data-title="Tertiary Page Title" data-desc="Tertiary page description" data-type="titled">Learn More</a>
	            </div>
	        </div>
		</div>
	</div>

</div>
