<div>
<div class="contentCol">
    <div class="container">
        <div class="resultsList">
            <div id="addl-results" class="resultsList-list">
                <div class="resultsList-list-item">
                    <div class="media media_inline">
                        <div class="media-figure">
                            <img src="//www.placehold.it/210x260" alt="" />
                        </div>
                        <div class="media-bd">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_3">Internet.org: Myths and Facts</h2>
                                </div>
                                <div class="feature-date">
                                    <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                </div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link link_sm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature feature_tight">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_3">Announcing the Internet.org Now Available in Columbia</h2>
                        </div>
                        <div class="feature-date">
                            <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re introducing the Internet.org Platform, an open program for developers to easily create services that integrate with...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link link_sm">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="media media_inline">
                        <div class="media-figure">
                            <img src="//www.placehold.it/210x260" alt="" />
                        </div>
                        <div class="media-bd">
                            <div class="feature feature_tight">
                                <div class="feature-hd">
                                    <h2 class="hdg hdg_3">Internet.org: Myths and Facts</h2>
                                </div>
                                <div class="feature-date">
                                    <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                </div>
                                <div class="feature-bd">
                                    <p class="bdcpy">Fast facts about Internet.org and free basic services...</p>
                                </div>
                                <div class="feature-cta">
                                    <a href="" class="link link_sm">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resultsList-ft">
                <div class="resultsList-list resultsList-list_spread">
                    <div class="resultsList-list-item">
                        <button type="button" class="btn js-ShowMoreView" data-src="press" data-target="addl-results" data-filter="press-filter">Show More</button>
                    </div>
                    <div class="resultsList-list-item">
                        <select id="press-filter" name="year" class="js-select select_inline">
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footBox">
    <div class="container">
        <div class="vList vList_footBox">
            <div>
                <div class="topicBlock">
                    <div class="topicBlock-hd">
                        <h2 class="hdg hdg_8 mix-hdg_bold">Contact</h2>
                    </div>
                    <div class="topicBlock-bd">
                        <p class="bdcpy">
                        If you’re a member of the press with a question about Internet.org, please email <a class="link link_inline" href="mailto:press@internet.org">press@internet.org</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="topicBlock">
                    <div class="topicBlock-hd">
                        <h2 class="hdg hdg_8 mix-hdg_bold">Internet.org Media Kit</h2>
                    </div>
                    <div class="topicBlock-bd"><p class="bdcpy">Images, logos, statements and more.</p></div>
                    <div class="topicBlock-cta"><a href="" class="btn">Request a Kit</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footBox-ft">
        <div class="container">
            <legal class="pwdByVip">
                <div class="pwdByVip-txt">Facebook &copy; 2015 Powered by <a href="">WordPress.com VIP</a></div>
            </legal>
        </div>
    </div>

</div>
</div>
