<div class="contentCol">
    <div class="container">
        <div class="resultsList">
            <div class="resultsList-hd">
                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">16 Results Found</div>
            </div>
            <div class="resultsList-list">
                <div class="resultsList-list-item">
                    <div class="feature feature_tight">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_4">Project Aquila This Title is Pretty Long and Goes on Two Lines</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link mix-link_small">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature feature_tight">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_4">Project Acuila</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link mix-link_small">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature feature_tight">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_4">Project Acuila</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link mix-link_small">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="resultsList-list-item">
                    <div class="feature feature_tight">
                        <div class="feature-hd">
                            <h2 class="hdg hdg_4">Project Acuila</h2>
                        </div>
                        <div class="feature-bd">
                            <p class="bdcpy">Today, we’re also giving people more choice over the services they use drone lorem ipsum dolor sit amet. Today, we’re introducing the Internet.org...</p>
                        </div>
                        <div class="feature-cta">
                            <a href="" class="link mix-link_small">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
