<div class="introBlock introBlock_fill">
    <div class="introBlock-inner">
        <div class="container">
            <div class="topicBlock">
                <div class="topicBlock-hd topicBlock-hd_plus">
                    <h2 class="hdg hdg_2">{{title}}</h2>
                </div>
                {{#if date}}
                <div class="topicBlock-subHd">
                    <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">{{date}}</div>
                </div>
                {{/if}}
                {{#if desc}}
                <div class="topicBlock-bd">
                    <p class="bdcpy">{{desc}}</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if social}}
    <div class="introBlock-ft introBlock-ft_rule introBlock-ft_social">
    	<ul class="socialParade">
    		<li><a class="socialParade-icon socialParade-icon_fb" href="https://fb.me/Internetdotorg" target="_blank">Facebook</a></li>
    		<li><a class="socialParade-icon socialParade-icon_tw" href="https://twitter.com/internet_org" target="_blank">Twitter</a></li>
    		<li><a class="socialParade-icon socialParade-icon_li" href="" target="_blank">LinkedIn</a></li>
    	</ul>
    </div>
    {{/if}}
</div>
