<div class="introBlock introBlock_fill">
    <div class="introBlock-inner">
        <div class="container">
            <div class="topicBlock">
                <div class="topicBlock-hd topicBlock-hd_plus">
                    <h2 class="hdg hdg_2">{{title}}</h2>
                </div>
                {{#if date}}
                <div class="topicBlock-subHd">
                    <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">{{date}}</div>
                </div>
                {{/if}}
                {{#if desc}}
                <div class="topicBlock-bd">
                    <p class="bdcpy">{{desc}}</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
