<div class="introBlock introBlock_fill">
    <div class="introBlock-inner">
        <div class="topicBlock">
            <div class="topicBlock-hd topicBlock-hd_plus">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
</div>
