<div class="contentCol">
    <div class="container">
        <div class="resultsList">
            <div class="resultsList-hd">
                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray"><span class="js-searchState-num"></span> Results Found</div>
            </div>
            <div class="resultsList-list js-searchState-results" id="search-results">
            </div>
            <div class="resultsList-ft">
                <div class="resultsList-list resultsList-list_spread">
                    <div class="resultsList-list-item">
                        <button type="button" class="btn js-ShowMoreView" data-src="search" data-target="search-results" data-args="{{searchText}}">Show More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
