<div class="contentCol">
    <div class="container">
        <div class="resultsList">
            <div class="resultsList-hd">
                <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray"><span class="js-searchState-num"></span> Results Found</div>
            </div>
            <div class="resultsList-list js-searchState-results">
            </div>
        </div>
    </div>
</div>
