{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <div class="viewWindow isShifted js-viewWindow js-stateDefault" data-type="titled">
        <div class="viewWindow-panel">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner viewWindow-panel-content-inner_home">

                        {{>homepage-content}}

                </div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_feature">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner">

                    <div class="introBlock introBlock_fill">
                        <div class="introBlock-inner">
                            <div class="container">
                                <div class="topicBlock">
                                    <div class="topicBlock-hd topicBlock-hd_plus">
                                        <h2 class="hdg hdg_2 mix-hdg_bold">Article Title on a Maximum of Three Lines</h2>
                                    </div>
                                    <div class="topicBlock-subHd">
                                        <div class="hdg hdg_6 mix-hdg_italic mix-hdg_gray">May 25, 2015</div>
                                    </div>
                                    <div class="topicBlock-bd">
                                        <p class="bdcpy">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse es suscipit euante lorepehicula nulla, suscipit dela  eu ante vel vehicula dolor sit amet, consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="introBlock-ft introBlock-ft_rule introBlock-ft_social">
                            <ul class="socialParade">
                                <li><a class="socialParade-icon socialParade-icon_fb" href="">Facebook</a></li>
                                <li><a class="socialParade-icon socialParade-icon_tw" href="">Twitter</a></li>
                                <li><a class="socialParade-icon socialParade-icon_li" href="">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_story isActive">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner">

                        {{>article-content}}

                </div>
            </div>
        </div>
    </div>

    {{/content}}

{{/extend}}
