{{#extend "layout"}}

    {{#content "body" mode="append"}}

    <div class="viewWindow isShifted js-stateDefault">
        <div class="viewWindow-panel">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner">

                        {{>homepage-content}}

                </div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_feature">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner" style="background-image: url(http://placehold.it/400x800?text=MAINSTORY);"></div>
            </div>
        </div>
        <div class="viewWindow-panel viewWindow-panel_story isActive">
            <div class="viewWindow-panel-content">
                <div class="viewWindow-panel-content-inner">

                        {{>mainstory-content}}

                </div>
            </div>
        </div>
    </div>

    {{/content}}

{{/extend}}
