.*.swp
.DS_Store
._.DS_Store
.idea/*
.tmp/
docs/
build-reports/
build-env.js
stage-build-env.js
stagevip-build-env.js
sandbox-build-env.js
fenix-build-env.js
prod-build-env.js
node_modules/
npm-debug.log
tools/node/
web/
templates.build.js
npm-debug.log
